{$message}
<h4>Total Artist {$artists_count}</h4>
<div class="top-right modal-btn list-button">
	<a rel="loadpage" href="{$add_artists}">Add New</a>
</div>
<div class="divider"></div>
<div class="list-content">
	{$artists_in}
	<div id="users"></div>
</div>