<div class="row-page">
	<div class="twelve columns">
		<div class="page-login-container">
			<div class="page-content">
				<div class="page-header">Artist Sign Up</div>
				
				{$message}
				<form action="{$url}/index.php?a=sign_up" method="post">
					<div class="page-inner">
						<div class="page-input-container">
							<div class="page-input-title">First Name</div>
							<div class="page-input-content">
								<input type="text" name="first_name"><br>
								<div class="page-input-sub">Your first name</div>
							</div>
						</div>
						<div class="page-input-container">
							<div class="page-input-title">Last Name</div>
							<div class="page-input-content">
								<input type="text" name="last_name"><br>
								<div class="page-input-sub">Your last name</div>
							</div>
						</div>

						<div class="page-input-container">
							<div class="page-input-title">Country</div>
							<div class="page-input-content">
								<select name="country" id="country_list"></select>
								<div class="page-input-sub">Your Country</div>
							</div>
						</div>

						<div class="page-input-container">
							<div class="page-input-title">User Name</div>
							<div class="page-input-content">
								<input type="text" name="username"><br>
								<div class="page-input-sub">Your user name</div>
							</div>
						</div>
						<div class="page-input-container">
							<div class="page-input-title">Password</div>
							<div class="page-input-content">
								<input type="password" name="password">
								<div class="page-input-sub">Your password for login</div>
							</div>
						</div>
						<div class="page-input-container">
							<div class="page-input-title">Email</div>
							<div class="page-input-content">
								<input type="email" name="email">
								<div class="page-input-sub">Your Email</div>
							</div>
						</div>
						<div class="page-input-container">
							<div class="page-input-title">Phone</div>
							<div class="page-input-content">
								<input type="text" name="phone">
								<div class="page-input-sub">Your Phone Number</div><br>
								    <input type="checkbox" class="checkbox" name="t&c" value="t&c"> &nbsp;I agree to the <a href="{$url}/Smubu_Artists_Terms_and_Conditions.doc" style="color:red;">Terms & Conditions </a>and I allow Smubu LTD. to use my music.
                                </div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="page-inner">
						<div class="page-input-title"></div>
						<div class="page-input-content">
							<input type="submit"  id="off" value="Register" name="artist_sugnup" disabled />
						</div> 
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
    jQuery(function () {
    loadCountrylists();
    jQuery('.checkbox').click(function() {
        jQuery('input:submit').attr('disabled',! this.checked)
    });
  });
</script>