{$messages}
<div style="display:none" class="download-btn-app">
	<a href="https://play.google.com/store/apps/details?id=com.justimaginethat.smubuapp" target="_blank" class="download-btn-top test">GET SMUBU ANDROID APP</a>
</div>
<span data-value="{$open_graph_url}" class="spd_url"></span>
<span data-value="{$open_graph}" class="spd_image"></span>
<span data-value="{$title}" class="spd_title"></span>
<span data-value="{$open_graph_description}" class="spd_description"></span>
<div style="display:none" class="share-links">
	<div class="share-links">
	    <div class="modal-inner">
			<div class="share-icon-container">
				<div class="social-icon-padding">
					<a class="spd-sharer" data-url="{$full_url}" data-id="1" title="Share on Facebook" href="javascript:void(0);" target="_blank"><div class="share-social-icon facebook-icon"></div></a>
				</div>
			</div>
			<div class="share-icon-container">
				<div class="social-icon-padding">
					<a class="spd-sharer" data-url="{$full_url}" data-title="{$title}" data-id="2" id="tw-share" title="Share on Twitter" href="javascript:void(0);" target="_blank"><div class="share-social-icon twitter-icon"></div></a>
				</div>
			</div>
			
			
			<div class="share-icon-container">
				<div class="social-icon-padding">
					<a class="spd-sharer" data-url="{$full_url}" data-id="3" data-title="{$title}" id="em-share" title="Share via Whatsapp" data-action="share/whatsapp/share" href="javascript:void(0);" target="_blank"><div class="share-social-icon whatsapp-icon"></div></a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var share = GetURLParameter('share');
if(share == "true"){
    try_to_open_app();
}
function GetURLParameter(sParam){
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++)
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam)
        {
            return sParameterName[1];
        }
    }
}

    function try_to_open_app() {
        console.log('demo');
        var requestedForm = window.location;
        window.location = "smubuApp://" + requestedForm;
	    }
    
</script>