<div class="row-body{$content_class}">
	<div class="body-content">
		<div class="nine columns" id="messages">
			<div class="page-container">
			<div class="page-content">
			<div class="page-header">{$header}</div>
				<div class="page-inner">
					<div class="row">
						<strong>Zakladatel a vývoj Jack Lenone...</strong>
						<br /><br />
						<strong>Facemesh.cz</strong>. 					
						O nás
                        Portál facemesh.cz byl spuštěn 15.1.2017.
                        Cílem teamu facemesh.cz je vytvořit rozcestník, na kterém se budou střetávat djové, posluchači, návštěvníci parties, promotéři, produkční klubů a další.
                        Chceme vytvořit rozsáhlou a vždy funkční databázi mp3 setů českých i zahraničních djů a zajistit přístup k dj setům všem uživatelům internetu bez složitého hledání.
                        Každému uživateli také poskytujeme možnost přidat do databáze vlastní set a prezentovat ho tak ostaním návštěvníkům.
                        Doplňkem portálu jsou Fotoreporty a Videoreporty z party, koncertu a hudebnich festivalu.
 
                        EN:
                        The portal facemesh.cz was launched on 15.1, 2017.
                        The objective of our team is to create a crossroad where DJs, audience, party visitors, promoters, club managers and many more could meet. 
                        We want to create an extensive and always functional database of Czech and foreign mp3 sets and to provide easy access to DJ sets to all internet users without any difficult searching.
                        All users can also add their own sets to the database and thus make it available to other visitors. The website also features a special section with Photoreports and Videoreports from parties, concerts and music festivals.
						<br /><br />
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="three columns">
			{$sidebar}
		</div>
	</div>
</div>