<div class="row-body{$content_class}">
	<div class="body-content">
		<div class="nine columns" id="messages">
			<div class="page-container">
			<div class="page-content">
			<div class="page-header">{$header}</div>
				<div class="page-inner">
					<div class="row">
						<strong>Facemesh Corpotation - Jack Lenone</strong>
						<br /><br />
						<strong>Získávání a zpracovávání osobních údajů</strong> 
						Když navštívíte naše webové stránky, zaznamenají naše webové servery standardním způsobem IP adresu, která vám byla přidělená poskytovatelem internetových služeb, webovou stránku, z které nás navštívíte, webové stránky, které u nás navštívíte, a také datum a délku návštěvy. Osobní údaje se zaznamenají jen tehdy, když nám je poskytnete z vlastní vůle, například v rámci registrace, anket, vypsání cen nebo na realizaci smlouvy.
						<br /><br />
						<strong>Souhlas se zpracováním osobních údajů</strong>
						Prohlášení prodávajícího: Jack Lenone se zavazuje plně respektovat důvěrný charakter Vašich osobních a firemních dat, která jsou zabezpečena proti neautorizovanému přístupu a chráněna proti zneužití. Údaje, které zadáváte v objednávce online kurzu hudební nauky jsou nezbytné pro Vaši identifikaci jako kupujícího. Používáme je k realizaci celého obchodu, včetně nezbytných účetních operací, vystavení daňových dokladů, identifikaci Vašich bezhotovostních plateb a pro komunikaci s Vámi.
                        Vaše detailní osobní data i údaje o nákupech jsou ukládány v databázi s přísným zabezpečením proti zneužití a nejsou poskytovány třetím stranám.
                        Souhlas registrujícího se návštěvníka webu: Vyplněním webového formuláře souhlasí kupující se zařazením všech jím vyplněných osobních údajů do databáze Jack Lenone se sídlem Havelkova 684/2a, Brno – Bohunice, 625 00, Česká Republika, Telefon: +420 728 983 875,  IČ: 01896628 jakožto správce, a s jejich následným zpracováním prostřednictvím zpracovatele pro marketingové účely a obchodní sdělení prostřednictvím elektronických prostředků dle zákona č. 480/2004 Sb., a to na dobu do odvolání souhlasu.
                        Zároveň registrovaný uděluje souhlas s tím, aby mu prodávající zasílal informace o připravovaných akcích a nabídce svých obchodních partnerů.
						<br /><br />
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="three columns">
			{$sidebar}
		</div>
	</div>
</div>