<div class="row-body{$content_class}">
	<div class="body-content">
		<div class="nine columns" id="messages">
			<div class="page-container">
			<div class="page-content">
			<div class="page-header">{$header}</div>
				<div class="page-inner">
					<div class="row">
						<strong>Facemesh Corpotation - Jack Lenone...</strong>
						<br /><br />
						<strong>1</strong>. Poskytnutím svých osobních údajů na webu www.facemesh.cz návštěvník uděluje ve smyslu zákona č. 101/2000 Sb., o ochraně osobních údajů souhlas s jejich zpracováním provozovatelem tohoto webu, společností Český hudební fond, o.p.s., Besední 487, 118 00 Praha 1, IČ 25635719, DIČ CZ25635719.
                        Návštěvník rovněž souhlasí se zasíláním obchodních sdělení provozovatelem webu, ve smyslu ust. § 7 zákona č. 480/2004 Sb.
                        Souhlas se zpracováním údajů je udělen na dobu neurčitou a je možné ho kdykoli odvolat a to žádostí emailem na adresu info@facemesh.cz. ¨
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="three columns">
			{$sidebar}
		</div>
	</div>
</div>