<style>
	.topbar{
		background: rgba(121, 0, 0, 0.54); 
	}
	#content {
		padding-top: 0px!important;
	}
	/*.download-btn-top, .header .col-menu-container .search-input{
		display:none;
	}*/
	
</style>
<div class="row-welcome{$content_class} sp_banner" data-type="background" data-speed="10">
	<div class="row-body">
		<div class="welcome-inner">
			<div class="welcome-message">
				<div class="welcome-title">
					<!-- {$site_title} -->
					<h1>Music in Your Hands</h1>
				</div>
				<div class="welcome-desc">
					<!-- {$lng->welcome_desc} -->
					<p>Play high quality African music.</p>					
					<a target="_blank" href="https://play.google.com/store/apps/details?id=com.justimaginethat.smubuapp" class="banner-btn test dwn-btn">Download SMUBU</a>
				</div>
				<div class="welcome-button">
					<!-- <a onclick="connect_modal()">{$lng->join_now}</a> -->
				</div>
				<div class="welcome-learn scroll_to" data-section="welcome-bar">
					<!-- {$lng->learn_more} -->
					<!-- <div class="welcome-arrow animation-small-bounce"></div> -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Added By Sparken Digital -->

<div class="sp_full-search-bar">

	<!--<div class="search-input"><input type="text" id="search" placeholder="{$lng->search_for_people}" autocomplete="off"></div>-->
	<div class="search-input"><input type="text" id="search" placeholder="Search for artists, songs......" autocomplete="off"><span class="search-ico"></span></div>

</div>

<div class="sp_search-container">
	<div class="search-container"></div>
</div>

<!-- Sparken DIgital Trending Songs Section Start Here -->
<div class="page-section {$content_class}">
	<h1>Trending Songs</h1>
	<div id="profile-card"></div>
	{$trending_songs}
	<!-- <div class="treading-song">
		<div class="left-treading">
			<h4>We don’t talk anymore </h4>
			<p class="hover-artist">Artist Name</p>
			<div id="profile-card" class="artist-hover-info">
				<div class="profile-card-cover"><img src="http://musica.sparkenproduct.in/thumb.php?src=2087827958_1188447510_2010054936.jpg&amp;w=300&amp;h=100&amp;t=c"></div>
				<div class="profile-card-avatar">
					<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><img src="http://musica.sparkenproduct.in/thumb.php?src=1887732578_247067729_464595315.jpg&amp;t=a&amp;w=112&amp;h=112"></a>
				</div>
				<div class="profile-card-info">
					<div class="profile-card-username">
						<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><span id="author35chozenblood"></span><span id="time35chozenblood"></span><div class="cover-text-container">CHOZEN BLOOD</div></a>
					</div>
					<div class="profile-card-location">
						KAMPALA, Uganda
					</div>
				</div>
				<div class="profile-card-buttons"><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><div class="profile-card-stats" title="7 Tracks"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/tracks_small.png">7</div></a><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood&amp;r=subscribers" rel="loadpage"><div class="profile-card-stats" title="1 Followers"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/followers.png">1</div></a></div>
			</div>
		</div>
		<div class="right-treading">
			<span>3:58</span>
			<ul>
				<li><i class="fa fa-play" aria-hidden="true"></i> 3.5k</li>
				<li><i class="fa fa-heart" aria-hidden="true"></i> 3.5k</li>
			</ul>
		</div>
	</div>
	<div class="treading-song">
		<div class="left-treading">
			<h4>We don’t talk anymore </h4>
			<p class="hover-artist">Artist Name</p>
			<div id="profile-card" class="artist-hover-info">
				<div class="profile-card-cover"><img src="http://musica.sparkenproduct.in/thumb.php?src=1618453926_1679687857_1923043049.jpg&amp;w=300&amp;h=100&amp;t=c"></div>
				<div class="profile-card-avatar">
					<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><img src="http://musica.sparkenproduct.in/thumb.php?src=1708536973_455618316_721130243.jpg&amp;t=a&amp;w=112&amp;h=112"></a>
				</div>
				<div class="profile-card-info">
					<div class="profile-card-username">
						<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><span id="author34kazibwekapo"></span><span id="time34kazibwekapo"></span><div class="cover-text-container">kazibwekapo</div></a>
					</div>
					<div class="profile-card-location">

					</div>
				</div>
				<div class="profile-card-buttons"><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><div class="profile-card-stats" title="9 Tracks"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/tracks_small.png">9</div></a></div>
			</div>
		</div>
		<div class="right-treading">
			<span>3:58</span>
			<ul>
				<li><i class="fa fa-play" aria-hidden="true"></i> 3.5k</li>
				<li><i class="fa fa-heart" aria-hidden="true"></i> 3.5k</li>
			</ul>
		</div>
	</div>
	<div class="treading-song">
		<div class="left-treading">
			<h4>We don’t talk anymore </h4>
			<p class="hover-artist">Artist Name</p>
			<div id="profile-card" class="artist-hover-info">
				<div class="profile-card-cover"><img src="http://musica.sparkenproduct.in/thumb.php?src=2087827958_1188447510_2010054936.jpg&amp;w=300&amp;h=100&amp;t=c"></div>
				<div class="profile-card-avatar">
					<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><img src="http://musica.sparkenproduct.in/thumb.php?src=1887732578_247067729_464595315.jpg&amp;t=a&amp;w=112&amp;h=112"></a>
				</div>
				<div class="profile-card-info">
					<div class="profile-card-username">
						<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><span id="author35chozenblood"></span><span id="time35chozenblood"></span><div class="cover-text-container">CHOZEN BLOOD</div></a>
					</div>
					<div class="profile-card-location">
						KAMPALA, Uganda
					</div>
				</div>
				<div class="profile-card-buttons"><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><div class="profile-card-stats" title="7 Tracks"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/tracks_small.png">7</div></a><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood&amp;r=subscribers" rel="loadpage"><div class="profile-card-stats" title="1 Followers"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/followers.png">1</div></a></div>
			</div>
		</div>
		<div class="right-treading">
			<span>3:58</span>
			<ul>
				<li><i class="fa fa-play" aria-hidden="true"></i> 3.5k</li>
				<li><i class="fa fa-heart" aria-hidden="true"></i> 3.5k</li>
			</ul>
		</div>
	</div>
	<div class="treading-song">
		<div class="left-treading">
			<h4>We don’t talk anymore </h4>
			<p class="hover-artist">Artist Name</p>
			<div id="profile-card" class="artist-hover-info">
				<div class="profile-card-cover"><img src="http://musica.sparkenproduct.in/thumb.php?src=1618453926_1679687857_1923043049.jpg&amp;w=300&amp;h=100&amp;t=c"></div>
				<div class="profile-card-avatar">
					<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><img src="http://musica.sparkenproduct.in/thumb.php?src=1708536973_455618316_721130243.jpg&amp;t=a&amp;w=112&amp;h=112"></a>
				</div>
				<div class="profile-card-info">
					<div class="profile-card-username">
						<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><span id="author34kazibwekapo"></span><span id="time34kazibwekapo"></span><div class="cover-text-container">kazibwekapo</div></a>
					</div>
					<div class="profile-card-location">

					</div>
				</div>
				<div class="profile-card-buttons"><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><div class="profile-card-stats" title="9 Tracks"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/tracks_small.png">9</div></a></div>
			</div>
		</div>
		<div class="right-treading">
			<span>3:58</span>
			<ul>
				<li><i class="fa fa-play" aria-hidden="true"></i> 3.5k</li>
				<li><i class="fa fa-heart" aria-hidden="true"></i> 3.5k</li>
			</ul>
		</div>
	</div>
	<div class="treading-song">
		<div class="left-treading">
			<h4>We don’t talk anymore </h4>
			<p class="hover-artist">Artist Name</p>
			<div id="profile-card" class="artist-hover-info">
				<div class="profile-card-cover"><img src="http://musica.sparkenproduct.in/thumb.php?src=2087827958_1188447510_2010054936.jpg&amp;w=300&amp;h=100&amp;t=c"></div>
				<div class="profile-card-avatar">
					<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><img src="http://musica.sparkenproduct.in/thumb.php?src=1887732578_247067729_464595315.jpg&amp;t=a&amp;w=112&amp;h=112"></a>
				</div>
				<div class="profile-card-info">
					<div class="profile-card-username">
						<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><span id="author35chozenblood"></span><span id="time35chozenblood"></span><div class="cover-text-container">CHOZEN BLOOD</div></a>
					</div>
					<div class="profile-card-location">
						KAMPALA, Uganda
					</div>
				</div>
				<div class="profile-card-buttons"><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood" rel="loadpage"><div class="profile-card-stats" title="7 Tracks"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/tracks_small.png">7</div></a><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=chozenblood&amp;r=subscribers" rel="loadpage"><div class="profile-card-stats" title="1 Followers"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/followers.png">1</div></a></div>
			</div>
		</div>
		<div class="right-treading">
			<span>3:58</span>
			<ul>
				<li><i class="fa fa-play" aria-hidden="true"></i> 3.5k</li>
				<li><i class="fa fa-heart" aria-hidden="true"></i> 3.5k</li>
			</ul>
		</div>
	</div>
	<div class="treading-song">
		<div class="left-treading">
			<h4>We don’t talk anymore </h4>
			<p class="hover-artist">Artist Name</p>
			<div id="profile-card" class="artist-hover-info">
				<div class="profile-card-cover"><img src="http://musica.sparkenproduct.in/thumb.php?src=1618453926_1679687857_1923043049.jpg&amp;w=300&amp;h=100&amp;t=c"></div>
				<div class="profile-card-avatar">
					<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><img src="http://musica.sparkenproduct.in/thumb.php?src=1708536973_455618316_721130243.jpg&amp;t=a&amp;w=112&amp;h=112"></a>
				</div>
				<div class="profile-card-info">
					<div class="profile-card-username">
						<a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><span id="author34kazibwekapo"></span><span id="time34kazibwekapo"></span><div class="cover-text-container">kazibwekapo</div></a>
					</div>
					<div class="profile-card-location">

					</div>
				</div>
				<div class="profile-card-buttons"><a href="http://musica.sparkenproduct.in/index.php?a=profile&amp;u=kazibwekapo" rel="loadpage"><div class="profile-card-stats" title="9 Tracks"><img src="http://musica.sparkenproduct.in/themes/materialSound/images/icons/tracks_small.png">9</div></a></div>
			</div>
		</div>
		<div class="right-treading">
			<span>3:58</span>
			<ul>
				<li><i class="fa fa-play" aria-hidden="true"></i> 3.5k</li>
				<li><i class="fa fa-heart" aria-hidden="true"></i> 3.5k</li>
			</ul>
		</div>
	</div> -->
	<!-- <a href="#" class="more-btn">More <i class="fa fa-chevron-right" aria-hidden="true"></i></a> -->
</div>

<!-- Sparken DIgital Trending Songs Section End Here -->





<!-- Sparken DIgital Top Album Section Start Here -->

<!-- <div class="page-section extra-xs-padd">
	<h1 class="hide-mobile">Top Albums</h1> -->
	<!-- {$top_albums} -->
	<!-- <div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
		<p>Michael Jackson</p>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
		<p>Michael Jackson</p>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
	</div> -->
	
	<!-- <a href="{$allalbums}" rel="loadpage" class="more-btn2">Top Albums <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
</div> -->
<!-- Sparken DIgital Top Album Section End Here -->
{$all_playlist} 
<!-- Sparken DIgital Hip hop Section Start Here -->
{$all_genre}

<!-- Sparken DIgital Top Artist Section Start Here -->
	<div style="display:none" class="page-section extra-xs-padd"> 
		<h1 class="hide-mobile">Top Artists</h1>
		{$top_artists}
		<!-- <div class="col3 front-div text-center">
			<img src="http://musica.sparkenproduct.in/themes/materialSound/images/artist.png"/ class="circle-img">
			<h4>Miss Lira</h4>
			<p>132k followers</p>
		</div>
		<div class="col3 front-div text-center">
			<img src="http://musica.sparkenproduct.in/themes/materialSound/images/artist.png"/ class="circle-img">
			<h4>Miss Lira</h4>
			<p>132k followers</p>
		</div>
		<div class="col3 front-div text-center">
			<img src="http://musica.sparkenproduct.in/themes/materialSound/images/artist.png"/ class="circle-img">
			<h4>Miss Lira</h4>
			<p>132k followers</p>
		</div>
		<div class="col3 front-div text-center">
			<img src="http://musica.sparkenproduct.in/themes/materialSound/images/artist.png"/ class="circle-img">
			<h4>Miss Lira</h4>
			<p>132k followers</p>
		</div> -->
		
		<a rel="loadpage" href="{$allartists}" class="more-btn2">Top Artists <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
	</div>
<!-- Sparken DIgital Top Artist Section End Here -->
<!-- <div class="page-section">
	<h1>Hip Hop</h1>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
		<p>Michael Jackson</p>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
		<p>Michael Jackson</p>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
	</div>
	
		<a href="#" class="more-btn2">Hip Hop Artists <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
	</div> -->
	<!-- Sparken DIgital Hip hop Section End Here -->


	<!-- Sparken DIgital Afro Beat Section Start Here -->
<!-- <div class="page-section">
	<h1>Afro Beat</h1>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
		<p>Michael Jackson</p>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
		<p>Michael Jackson</p>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
	</div>
	<div class="col3 front-div">
		<img src="http://musica.sparkenproduct.in/themes/materialSound/images/dummy.png"/>
		<h4>Hip Hop Classics</h4>
	</div>
	
		<a href="#" class="more-btn2">Afro Beat Artists <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
	</div> -->
	<!-- Sparken DIgital Afro Beat Section End Here -->

<!-- <div class="welcome-bar" id="welcome-bar"><div class="welcome-menu"><a href="#creators" class="scroll_to" data-section="welcome-creators">{$lng->creators}</a><a href="#listeners" class="scroll_to" data-section="welcome-listeners">{$lng->listeners}</a></div></div>
<div class="welcome-full">
	<div class="row-body">
		<div class="welcome-full-section">
			{$lng->popular}
		</div>
		{$popular}
	</div>
</div> -->


<!-- <div class="welcome-content">
	<div class="row-body">
		<div class="welcome-box-section" id="welcome-creators">
			{$lng->creators}
		</div>
		<div class="row-body">
			<div class="welcome-box col-3">
				<div class="welcome-box-title">
					{$lng->upload}
				</div>
				<div class="welcome-box-desc">
					{$lng->upload_desc}
				</div>
			</div> 
			<div class="welcome-box col-3">
				<div class="welcome-box-title">
					{$lng->audience}
				</div>
				<div class="welcome-box-desc">
					{$lng->audience_desc}
				</div>
			</div>
			<div class="welcome-box col-3">
				<div class="welcome-box-title">
					{$lng->statistics}
				</div>
				<div class="welcome-box-desc">
					{$lng->statistics_desc}
				</div>
			</div>
		</div>
	</div>
</div> -->

<!-- <div class="welcome-content">
	<div class="row-body">
		<div class="welcome-box-section" id="welcome-listeners">
			{$lng->listeners}
		</div>
		<div class="row-body">
			<div class="welcome-box col-3">
				<div class="welcome-box-title">
					{$lng->explore}
				</div>
				<div class="welcome-box-desc">
					{$lng->explore_desc}
				</div>
			</div>
			<div class="welcome-box col-3">
				<div class="welcome-box-title">
					{$lng->share}
				</div>
				<div class="welcome-box-desc">
					{$lng->share_desc}
				</div>
			</div>
			<div class="welcome-box col-3"> 
				<div class="welcome-box-title">
					{$lng->organize}
				</div>
				<div class="welcome-box-desc">
					{$lng->organize_desc}
				</div>
			</div>
		</div>
	</div>
</div> -->
{$go_pro}
{$ad}
<div id="playlist" style="display: none;">
	<div class="modal-container">
		<div class="modal-title" id="share-title">
			<div class="modal-menu-container">
				<div class="modal-menu-item modal-menu-item-active" id="tab-playlist">{$lng->playlist}</div>
				<div class="modal-loading"></div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="tab-playlist">
			<div class="modal-inner">
				<input type="text" id="playlist-name" class="playlist-input" placeholder="{$lng->new_playlist}"><div onclick="playlist(0, 2)" class="button-normal playlist-save" id="playlist-save">{$lng->save}</div>
			</div>
			<div class="modal-inner" id="playlists">
				
			</div>
		</div>	
		<div class="divider"></div>
		<div class="modal-menu">
			<div class="modal-btn"><a onclick="playlist(0, 0)">{$lng->close}</a></div>
		</div>
	</div>
</div>
<div id="share" style="display: none;">
	<div class="modal-container">
		<div class="modal-title" id="share-title">
			<div class="modal-menu-container">
				<div class="modal-menu-item modal-menu-item-active" id="tab-share">{$lng->share}</div>
				<div class="modal-menu-item" id="tab-embed">{$lng->embed}</div>
			</div>
		</div>
		<div class="divider"></div>
	 <div class="tab-share">
			<div class="modal-inner">
				<div class="modal-desc">{$lng->share_sn}</div>
				<div class="share-icon-container"><div class="social-icon-padding"><a id="fb-share" title="{$lng->share_facebook}"><div class="share-social-icon facebook-icon"></div></a></div></div>
				<div class="share-icon-container"><div class="social-icon-padding"><a id="tw-share" title="{$lng->share_twitter}"><div class="share-social-icon twitter-icon"></div></a></div></div>
				<div class="share-icon-container"><div class="social-icon-padding"><a id="gp-share" title="{$lng->share_gplus}"><div class="share-social-icon gplus-icon"></div></a></div></div>
				<div class="share-icon-container"><div class="social-icon-padding"><a id="pn-share" title="{$lng->share_pinterest}"><div class="share-social-icon pinterest-icon"></div></a></div></div>
				<div class="share-icon-container"><div class="social-icon-padding"><a id="em-share" title="{$lng->share_email}"><div class="share-social-icon email-icon"></div></a></div></div>
			</div>
			<div class="modal-inner">
				<div class="modal-desc">{$lng->share_url}</div>
				<div class="modal-input"><input id="share-url" value="" readonly="readonly"></div>
			</div>
		</div> 
		<div class="tab-embed">
			<div class="modal-inner">
				<div class="dummy-player">
					<div class="dummy-artwork"></div>
					<div class="dummy-play-btn"></div>
					<div class="dummy-author"></div>
					<div class="dummy-title"></div>
					<div class="dummy-seek"></div>
					<div class="dummy-avatars"></div>
					<div class="dummy-avatars"></div>
					<div class="dummy-avatars"></div>
					<div class="dummy-avatars"></div>
					<div class="dummy-avatars"></div>
				</div>
				<div class="modal-desc">{$lng->embed_code}</div>
				<div class="modal-input"><input id="embed-url" value="" readonly="readonly"></div>
				<div class="modal-checkbox"><input type="checkbox" name="autoplay" id="autoplay"><label for="autoplay">{$lng->autoplay}</label></div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="modal-menu">
			<div class="modal-btn"><a onclick="share(0, 0)">{$lng->close}</a></div>
		</div>
	</div>
</div>