<div class="page-inner" style="padding-bottom: 0;">
	<div class="edit-menu">
		<div class="edit-menu-item edit-menu-item-active" id="edit-general">{$lng->general}</div>
		<div class="edit-menu-item" id="edit-payments"{$hide_p}>Artist List ({$cnt_art_dist}) </div>
	</div>
</div>
<div class="edit-general" style="display: block;">
	{$status}
	{$message}
	<div class="top-right modal-btn list-button">
		<a href="{$del_distributors_url}">Delete</a>
		<a rel="loadpage" href="{$all_distributors_url}">View All</a>
		<a rel="loadpage" href="{$new_distributors_url}">Add New</a>
	</div>
	<div class="divider"></div>
	<form method="post">
		{$token_input}
		<div class="page-inner">
			
			<div class="page-input-container">
				<div class="page-input-title">{$lng->ttl_company_name}</div>
				<div class="page-input-content">
					<input type="text" name="company_name" value="{$currentCompanyName}" />
					<div class="page-input-sub">{$lng->sub_company_name}</div>
				</div>
			</div>
			
			<div class="page-input-container">
				<div class="page-input-title">{$lng->ttl_email}</div>
				<div class="page-input-content">
					<input type="text" name="email" value="{$currentEmail}" />
					<div class="page-input-sub">{$lng->sub_email}</div>
				</div>
			</div>

			<div class="page-input-container">
				<div class="page-input-title">{$lng->ttl_phone}</div>
				<div class="page-input-content">
					<input type="text" name="phone" value="{$currentPhone}" />
					<div class="page-input-sub">{$lng->sub_phone}</div>
				</div>
			</div>

		</div>
		<div class="divider"></div>
		
		<div class="page-inner">
			<div class="page-input-title"></div><input type="submit" name="upd_dist" value="{$lng->upd_record}">
		</div>
	</form>
</div>
<div class="edit-payments" style="display: none;">
	<div class="page-inner">
		<strong>List of Artist</strong>
	</div>
	<div class="divider"></div>
	{$artist_dist}
</div>