{$message}
<form action="{$url}/index.php?a=admin&b=home_settings" method="post">
	{$token_input}
	<div class="edit-homepage-settings">

		<div class="divider"></div>
		<div class="page-inner">
			<div class="page-input-container">
				<div class="page-input-title">Select Artist</div>
				<div class="page-input-content">
					<select data-placeholder="Choose upto 6 Artists..." class="chosen-select" name="artist[]" multiple>
						<option value=""></option>
						{$artists}
					</select>
					<div class="page-input-sub">Selected Artist Will Be Disply On Home Page Artist Section</div>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="page-inner">
			<div class="page-input-container">
				<div class="page-input-title">Select Genrs</div>
				<div class="page-input-content">
					<select data-placeholder="Choose Generes..." class="chosen-select1" name="genrs[]" multiple>
						<option value=""></option>
						{$genres}
					</select>
					<div class="page-input-sub">Selected Genrs Will Be Disply On Home Page</div>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="page-inner">
			<div class="page-input-container">
				<div class="page-input-title">Select Albums</div>
				<div class="page-input-content">
					<select data-placeholder="Choose upto 6 Albums..." class="chosen-select" name="albums[]" multiple>
						<option value=""></option>
						{$albums}
					</select>
					<div class="page-input-sub">Selected Albums Will Be Disply On Home Page</div>
				</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="page-inner">
		<div class="page-input-title"></div><input type="submit" name="home_submit" value="{$lng->save_changes}">
	</div>
</form>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		
		/*var last_valid_selection = null;
		
		$(".artist").change(function () {
			var lastSel = $(".artist option:selected");
			if($(".artist option:selected").length > 6) {
				$(this).val(last_valid_selection);
				alert('You Can Not Select More Then 6 Artists');
			}else {
				last_valid_selection = $(this).val();
			}
		});


		var last_valid_selection1 = null;
		
		$(".album").change(function () {
			var lastSel = $(".album option:selected");
			if($(".album option:selected").length > 4) {
				$(this).val(last_valid_selection1);
				alert('You Can Not Select More Then 6 Album');
			}else {
				last_valid_selection1 = $(this).val();
			}
		});*/

		$(".chosen-select").chosen({
            max_selected_options:6, 
            display_selected_options:true, 
      	});	

      	$(".chosen-select1").chosen();

	});
	
</script>