{$message}
<div class="page-inner" style="padding-bottom: 0;">
	<div class="edit-menu">
		<div class="edit-menu-item edit-menu-item-active" id="edit-general">{$lng->general}</div>
		<div class="edit-menu-item" id="edit-registration">{$lng->registration}</div>
		<div class="edit-menu-item" id="edit-limits">{$lng->limits}</div>
		<div class="edit-menu-item" id="edit-emails">{$lng->emails}</div>
	</div>
</div>
<form action="{$url}/index.php?a=admin&b=site_settings" method="post">
{$token_input}
<div class="edit-general" style="display: block;">
	<div class="page-inner" style="padding-top: 0;">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_title}</div>
			<div class="page-input-content">
				<input type="text" name="title" value="{$currentTitle}" />
				<div class="page-input-sub">{$lng->admin_sub_title}</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="page-inner">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_timestamp}</div>
			<div class="page-input-content">
				<select name="time">
					<option value="0" {$one}>Converted (live)</option>
					<option value="1" {$two}>Unconverted (live)</option>
					<option value="2" {$three}>Standard</option>
					<option value="3" {$four}>Year-month-day</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_timestamp}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_volume}</div>
			<div class="page-input-content">
				<select name="volume">
					<option value="0.20" {$vtwenty}>20%</option>
					<option value="0.40" {$vfourty}>40%</option>
					<option value="0.60" {$vsixty}>60%</option>
					<option value="0.80" {$veighty}>80%</option>
					<option value="1" {$vhundred}>100%</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_volume}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_permalinks}</div>
			<div class="page-input-content">
				<select name="permalinks">
					<option value="0" {$permaoff}>{$lng->off}</option>
					<option value="1" {$permaon}>{$lng->on}</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_permalinks}</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="page-inner">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->tracking_code}</div>
			<div class="page-input-content">
				<textarea class="ads" name="tracking_code">{$tracking_code}</textarea>
				<div class="page-input-sub">{$lng->admin_sub_tracking}</div>
			</div>
		</div>
	</div>
</div>
<div class="edit-registration" style="display: none;">
	<div class="page-inner" style="padding-top: 0;">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_captcha}</div>
			<div class="page-input-content">
				<select name="captcha">
					<option value="0" {$off}>{$lng->off}</option>
					<option value="1" {$on}>{$lng->on}</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_captcha}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_aperip}</div>
			<div class="page-input-content">
				<input type="text" name="aperip" value="{$aperip}">
				<div class="page-input-sub">{$lng->admin_sub_aperip}</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="page-inner">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_fbapp}</div>
			<div class="page-input-content">
				<select name="fbapp">
					<option value="0" {$fbappoff}>{$lng->off}</option>
					<option value="1" {$fbappon}>{$lng->on}</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_fbapp}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_fbappid}</div>
			<div class="page-input-content">
				<input type="text" name="fbappid" value="{$fbappid}">
				<div class="page-input-sub">{$lng->admin_sub_fbappid}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_fbappsecret}</div>
			<div class="page-input-content">
				<input type="text" name="fbappsecret" value="{$fbappsecret}">
				<div class="page-input-sub">{$lng->admin_sub_fbappsecret}</div>
			</div>
		</div>
	</div>
</div>
<div class="edit-limits" style="display: none;">
	<div class="page-inner" style="padding-top: 0;">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_rperpage}</div>
			<div class="page-input-content">
				<input type="text" name="rperpage" value="{$rperpage}">
				<div class="page-input-sub">{$lng->admin_sub_rperpage}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_tracks_perpage}</div>
			<div class="page-input-content">
				<input type="text" name="perpage" value="{$perpage}">
				<div class="page-input-sub">{$lng->admin_sub_tracks_perpage}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_com_perpage}</div>
			<div class="page-input-content">
				<input type="text" name="cperpage" value="{$cperpage}">
				<div class="page-input-sub">{$lng->admin_sub_com_perpage}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_chat_perpage}</div>
			<div class="page-input-content">
				<input type="text" name="mperpage" value="{$mperpage}">
				<div class="page-input-sub">{$lng->admin_sub_chat_perpage}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_sperpage}</div>
			<div class="page-input-content">
				<input type="text" name="sperpage" value="{$sperpage}">
				<div class="page-input-sub">{$lng->admin_sub_sperpage}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_nperpage}</div>
			<div class="page-input-content">
				<input type="text" name="nperpage" value="{$nperpage}">
				<div class="page-input-sub">{$lng->admin_sub_nperpage}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_message_limit}</div>
			<div class="page-input-content">
				<input type="text" name="mlimit" value="{$mlimit}">
				<div class="page-input-sub">{$lng->admin_sub_message_limit}</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="page-inner">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_wholiked}</div>
			<div class="page-input-content">
				<input type="text" name="lperpost" value="{$lperpost}">
				<div class="page-input-sub">{$lng->admin_sub_wholiked}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_ronline}</div>
			<div class="page-input-content">
				<input type="text" name="ronline" value="{$ronline}">
				<div class="page-input-sub">{$lng->admin_sub_ronline}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_nperwidget}</div>
			<div class="page-input-content">
				<input type="text" name="nperwidget" value="{$nperwidget}">
				<div class="page-input-sub">{$lng->admin_sub_nperwidget}</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="page-inner">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_notificationsn}</div>
			<div class="page-input-content">
				<input type="text" name="intervaln" value="{$intervaln}">
				<div class="page-input-sub">{$lng->admin_sub_notificationsn}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_chatrefresh}</div>
			<div class="page-input-content">
				<input type="text" name="chatr" value="{$chatr}">
				<div class="page-input-sub">{$lng->admin_sub_chatrefresh}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_timeonline}</div>
			<div class="page-input-content">
				<input type="text" name="conline" value="{$conline}">
				<div class="page-input-sub">{$lng->admin_sub_timeonline}</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="page-inner">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_image_profile}</div>
			<div class="page-input-content">
				<input type="text" name="size" value="{$size}">
				<div class="page-input-sub">{$lng->admin_sub_image_profile}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_image_format}</div>
			<div class="page-input-content">
				<input type="text" name="format" value="{$format}">
				<div class="page-input-sub">{$lng->admin_sub_image_format}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_cover_size}</div>
			<div class="page-input-content">
				<input type="text" name="artsize" value="{$artsize}">
				<div class="page-input-sub">{$lng->admin_sub_cover_size}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_cover_format}</div>
			<div class="page-input-content">
				<input type="text" name="artformat" value="{$artformat}">
				<div class="page-input-sub">{$lng->admin_sub_cover_format}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_track_format}</div>
			<div class="page-input-content">
				<input type="text" name="trackformat" value="{$trackformat}">
				<div class="page-input-sub">{$lng->admin_sub_track_format}</div>
			</div>
		</div>
	</div>
</div>
<div class="edit-emails" style="display: none;">
	<div class="page-inner" style="padding-top: 0;">
	<div class="page-input-container">
			<div class="page-input-title">{$lng->smtp_emails}</div>
			<div class="page-input-content">
				<select name="smtp_email">
					<option value="0" {$smtpoff}>{$lng->off}</option>
					<option value="1" {$smtpon}>{$lng->on}</option>
				</select>
				<div class="page-input-sub">{$lng->smtp_sub_emails}</div>
			</div>
		</div>
		<div class="page-input-container">
			<div class="page-input-title">{$lng->smtp_host}</div>
			<div class="page-input-content">
				<input type="text" name="smtp_host" value="{$smtp_host}">
				<div class="page-input-sub">{$lng->smtp_sub_host}</div>
			</div>
		</div>
		<div class="page-input-container">
			<div class="page-input-title">{$lng->smtp_port}</div>
			<div class="page-input-content">
				<input type="text" name="smtp_port" value="{$smtp_port}">
				<div class="page-input-sub">{$lng->smtp_sub_port}</div>
			</div>
		</div>
		<div class="page-input-container">
			<div class="page-input-title">{$lng->smtp_auth}</div>
			<div class="page-input-content">
				<select name="smtp_auth">
					<option value="0" {$smtpaoff}>{$lng->off}</option>
					<option value="1" {$smtpaon}>{$lng->on}</option>
				</select>
				<div class="page-input-sub">{$lng->smtp_sub_auth}</div>
			</div>
		</div>
		<div class="page-input-container">
			<div class="page-input-title">{$lng->smtp_username}</div>
			<div class="page-input-content">
				<input type="text" name="smtp_username" value="{$smtp_username}">
				<div class="page-input-sub">{$lng->smtp_sub_username}</div>
			</div>
		</div>
		<div class="page-input-container">
			<div class="page-input-title">{$lng->smtp_password}</div>
			<div class="page-input-content">
				<input type="text" name="smtp_password" value="{$smtp_password}">
				<div class="page-input-sub">{$lng->smtp_sub_password}</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="page-inner">
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_email_reg}</div>
			<div class="page-input-content">
				<select name="mail">
					<option value="0" {$mailoff}>Off</option>
					<option value="1" {$mailon}>On</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_email_reg}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_email_comment}</div>
			<div class="page-input-content">
				<select name="email_comment">
					<option value="0" {$ecoff}>{$lng->off}</option>
					<option value="1" {$econ}>{$lng->on}</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_email_comment}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_email_like}</div>
			<div class="page-input-content">
				<select name="email_like">
					<option value="0" {$elff}>{$lng->off}</option>
					<option value="1" {$elon}>{$lng->on}</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_email_like}</div>
			</div>
		</div>
		
		<div class="page-input-container">
			<div class="page-input-title">{$lng->admin_ttl_email_new_friend}</div>
			<div class="page-input-content">
				<select name="email_new_friend">
					<option value="0" {$enfoff}>{$lng->off}</option>
					<option value="1" {$enfon}>{$lng->on}</option>
				</select>
				<div class="page-input-sub">{$lng->admin_sub_email_new_friend}</div>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="page-inner">
	<div class="page-input-title"></div><input type="submit" name="submit" value="{$lng->save_changes}">
</div>
</form>