    body{
	/* font-family: 'Raleway', sans-serif!important; */
	/*font-family: 'Open Sans', sans-serif!important;*/
}
.logo {
    height: auto;
    width: 40px;
    min-height: 20px;
    float: left;
    margin: 0;
    background: url(images/logo1.png) no-repeat;
    background-size: contain;
    margin-right: 0px;
    position: absolute;
    top: 5px;
    left: 15px;
}
.logo:after{
	    content: 'SMUBU';
    margin-left: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: .5px;
} 
.menu-btn{
	    text-decoration: none;
    color: #fff;
    margin: 0;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: .5px;
    padding: 20px 10px;
    font-weight: 400;
    line-height: initial;
}
.row-welcome {
    background: url(images/banner1.jpg);
    margin-top: -30px;
    position: relative;
    animation: background-none 50s linear infinite;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.download-btn-top{
	    background: #790000;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 4px;
    /* position: absolute; */
    /* top: 39px; */
    /* left: 298px; */
    /* top: 20px; */
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
    float: right;
    letter-spacing: .4px;
}
.topbar_margin {
    height: 0;
}
.topbar {  
    left: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    box-shadow: none;
    background: rgba(121, 0, 0, 1);
    border-top: 4px solid #a50f10;
	    max-width: 1240px;
    margin: 0px auto;
}
a.menu-button {
    float: left;
    text-decoration: none;
    color: #fff;
    margin: 0;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: .5px;
    padding: 20px 10px;
    font-weight: bolder;
}
a.menu-button:after {
	content:"|";
	    margin-left: 16px;
	
}
#top_songs-button:after{
	display:none;
}
.header {
       max-width: initial;
    padding: 0px 15px 0;
    padding-left: 175px;
    /* padding-bottom: 7px; */
	
    min-height: 60px;
}
a.menu-button:hover {
    color: #fff;
    border-bottom: 0px solid #ff1844;
    padding-bottom: 0px;
}

.sp_col-3 {
    display: block;
	box-sizing:border-box;
	    padding: 0px 10px;
    width: 16.6667%!important;
}
.sp_artist-pic img{
    width: 100%;
    max-width: 100%;
    height: 187px;
    object-fit: cover;
    margin-bottom: 15px;
}
.sp_artist-name{
	
    font-size: 14px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}
.welcome-title h1{
	font-size:36px;
}
.welcome-desc {	
    padding-top: 0;
}
.welcome-desc p{	
     margin: 0; 
    font-size: 18px;
}
.welcome-inner {
    /* padding: 145px 20px; */
	    padding: 154px 20px 90px;
}
.search-input {
       float: none;
    width: 600px;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    margin-top: 25px;
    margin-bottom: 5px;
    display: inline-block;
}
#content {
    background: #fff;
    padding-bottom: 30px;
    padding-top: 75px;
    float: left;
    width: 100%;
}
.search-input  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #807a7a;
}
.search-input  input::-moz-placeholder { /* Firefox 19+ */
    color: #807a7a;
}
.search-input  input:-ms-input-placeholder { /* IE 10+ */
    color: #807a7a;
}
.search-input  input:-moz-placeholder { /* Firefox 18- */
    color: #807a7a;
}
.search-input  input{
	background: #f2f2f2;
    width: 100%;
    font-size: 14px;
    height: 46px;
    padding: 5px 55px 5px 20px;
    box-sizing: border-box; 
	
    color: #212121;
}
.search-input  input:hover, .search-input  input:focus{
	   background: #f2f2f2;
}
.search-ico{
	    background: url(images/search.png);
    width: 28px;
    height: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0px;
    top: 20px;
    margin-right: 15px;  
}/*  
.topbar {
    position: absolute;
} */ 
.page-section{
	float:left;
	width:100%;
	padding:25px 15px;
	box-sizing:border-box;
}
.page-section h2{
	    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0;
	 
}
/* .treading-song:before{
	font: normal normal normal 14px/1 FontAwesome;
    color: #a50f10;
    content: "\f144";
    position: absolute;
    font-size: 50px;
    top: 15px;
    left: 15px;
} */
.left-treading{
	float:left;
	width:60%;
	padding:0px 15px;
	box-sizing:border-box;
}
.left-treading h4{
	font-size: 32px;
    font-weight: 500;
}
.left-treading p{
	    font-size: 24px;
    margin: 0;
    color: #818181;
    font-style: italic;	
    display: inline-block;
	cursor:pointer;
}
.right-treading{
	    float: left;
    width: 40%;    
    padding: 29px 15px 10px;
    box-sizing: border-box;
    text-align: right;
}
.right-treading span{
	    font-size: 32px;
    font-weight: 500;
}
.right-treading ul{
	list-style: none;
    display: inline-block;
    font-size: 24px;
    /* font-weight: 500; */
    color: #818181;
    padding-left: 20px;
    margin: 0;
}
.right-treading li{
	    list-style: none;
    display: inline-block;
    padding-left: 20px;
}
.treading-song{
	    float: left;
    width: 100%;
    border-bottom: 2px solid #a1a1a1;
    position: relative;
	box-sizing:border-box;	
    padding: 15px 20px 15px 60px;
	margin:0px;
}
.more-btn{
	    color: #a50f10;
    font-size: 14px;
    font-weight: 500;
    float: right;
    margin-top: 15px;	
    margin-right: 15px;
}
.more-btn i{
	font-size: 16px;
	 font-weight: normal;
	 vertical-align:middle;
}
.col3{
    width: 16.6667%;
    float: left;
    padding: 0px 10px;
    box-sizing: border-box;
}
.front-div img{
        width: 100%;
    border-radius: 0px;
    height: 187px;
    object-fit: cover;
}
.circle-img{
    height: 187px;
    /* border-radius: 50% !important; */
	object-fit:cover;
}
.front-div h4{
	    font-size: 14px;
    font-weight: 500;

}
.front-div{
	
}
.front-div p{
	    font-size: 12.7px;
    margin: 0;
    color: #818181;
}
.more-btn2{
	    background: rgba(121, 0, 0, 1);
    font-size: 14px;
    font-weight: 500;
    float: right;
    margin-top: 15px;
    color: #fff;
    padding: 6px 10px;     
    margin-right: -15px;
    clear: both;
	
	    width: 130px;
    text-align: center;
}
.song-title {
    font-size: 14px;
}
.song-author {
    font-size: 12.7px;
}
.text-center{
	
    text-align: center;
}
.text-left{
	
    text-align: left;
}
.page-section > h1{
    font-size: 24px;
	    font-weight: bolder;
    margin-bottom: 15px;
}
.sp_search-container{	
    float: left;
    width: 100%;
    padding: 0px 10%;
    box-sizing: border-box;
	    margin-top: -25px;
}
.sp_search-container .search-container{
	
        display: block;
    width: 100%;
    max-width: none;
    padding: 0;
    top: 0;
    margin-bottom: 25px;
}
.change-header.topbar {
       background: rgba(121, 0, 0, 1);
    box-shadow: 0px 0px 10px #5d5b5b;
}
.topbar, .header, .download-btn-top, .logo, a.menu-button, .menu-btn,  .logo:after {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
a.menu-button-active {
    border-bottom: 0px solid #ff1844;
}
.artist-hover-info{
	display:none;
}
.hover-artist:hover + .artist-hover-info{
	    display: block!important;
}
#nav-icon1 {
      width: 30px;
    height: 24px;
    float: right;
    position: relative;
    margin: 15px 0 7.5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display:none;
} 

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px; 
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.icoopen span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.icoopen span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.icoopen span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}












/* Responsive layout */
@media(max-width:767px){
/* .logo {
    height: auto;
    width: 60px;
    min-height: 72px;
}
.logo:after {
    content: 'SMUBU';
    margin-left: 63px;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    font-weight: 500;
} */
/* .topbar {
    border-top: 5px solid #a50f10;
}
#content {
    padding-top: 35px!important;
} */
.header {
    padding-left: 15px!important;
}
.col-menu-container{
	display:none;
	    float: left;
    width: 100%;
    margin-top: 0px;
    text-align: center;
}
#nav-icon1 {
  display:block;
} 
.col-menu-container.mobile-menu{
	display:block;
}	
a.menu-button {
   display:block;   
    width: 100%;
    padding: 5px 0px;
}
a.menu-button:after {
   display:none; 
}
.menu-btn {
    float: none;	
    padding: 5px 0px;
}	
	.col3,.right-treading,.left-treading {
        width: 50%;
}
.right-treading span {
    font-weight: 500;
    float: left;
    vertical-align: middle;
}
.right-treading ul {
    list-style: none;
    display: inline-block;
    /* font-weight: 500; */
    color: #818181;
    padding-left: 0;
    margin: 0;
    float: left;
    vertical-align: middle;
}
.left-treading h4 {
    font-weight: 500;
}
.left-treading p {
}
.treading-song:before {
    left: 0px;
}
.treading-song {
    padding-left: 20px;
}
.right-treading {
    padding: 10px 15px 5px;
}
.page-section h2 {
    margin-bottom: 15px;
}
.front-div h4 {
    font-weight: 500;
}
.front-div {
    margin-bottom: 25px;
}
.welcome-desc p {
    margin: 0;
}
.welcome-inner {
    padding: 100px 20px;
}
.search-input {
    padding: 0px 15px; 	
    width: 100%;
}
.search-input input { 
    background: #e4e4e4;
    width: 100%;
    padding: 13px 45px 13px 20px;
    box-sizing: border-box;
}
.search-ico {
    background: url(images/search.png);
    width: 27px;
    height: 38px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 15px;
    top: 19px;
    margin-right: 15px;
}
.page-section > h1 {
    font-weight: 500;
    margin-bottom: 10px;
}
.download-btn-top {
    display: none;
}
}
@media(max-width:480px){
	.col3,.right-treading,.left-treading {
    width: 100%;
}
.right-treading span {
    font-weight: 500;
    float: left;
    vertical-align: middle;
}
.right-treading ul {
    list-style: none;
    display: inline-block;
    /* font-weight: 500; */
    color: #818181;
    padding-left: 0;
    margin: 0;
    float: left;
    vertical-align: middle;
}
.treading-song:before {
    left: 0px;
}
.treading-song {
    padding-left: 20px;
}
.right-treading {
    padding: 10px 15px 5px;
}
.page-section h2 {
    margin-bottom: 15px;
}
.front-div h4 {
    font-weight: 500;
}
.front-div {
    margin-bottom: 25px;
}
.welcome-desc p {
    margin: 0;
}
.welcome-inner {
    padding: 100px 20px;
}
.search-input {
    padding: 0px 15px;
}
.search-input input {
    background: #e4e4e4;
    width: 100%;
    padding: 13px 45px 13px 20px;
    box-sizing: border-box;
}
.search-ico {
    background: url(images/search.png);
    width: 27px;
    height: 38px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 15px;
    top: 19px;
    margin-right: 15px;
}
.page-section > h1 {
    font-weight: 500;
    margin-bottom: 10px; 
}
.download-btn-top {
    display: none;
}
}
.content-welcome .treading-song .song-top, .content-top_songs .treading-song .song-top{
	width:60%;
	float:left;
	padding:0px 15px;
    box-sizing: border-box;
}
.content-welcome .treading-song .player-controls, .content-top_songs .treading-song .player-controls{
	width:15%;
	float:left;	
	padding:0px 15px;
    box-sizing: border-box;
}
.content-welcome .treading-song .track-actions-container, .content-top_songs .treading-song .track-actions-container{
	width:25%;
	float:left;	
	padding:0px 15px;
    box-sizing: border-box;
	
}
.content-welcome .treading-song .player-controls a.jp-play, .content-welcome .treading-song .player-controls a.jp-pause, .content-top_songs .treading-song .player-controls a.jp-play, .content-top_songs .treading-song .player-controls a.jp-pause {
    left: 15px;
    margin-top: 0!important;
}
.content-welcome .treading-song div.jp-interface , .content-top_songs .treading-song div.jp-interface {
    position: static;
    width: 100%;
}
.content-welcome .treading-song div.jp-audio div.jp-time-holder, .content-top_songs .treading-song div.jp-audio div.jp-time-holder {
    position: static;
}
.content-welcome .treading-song, .content-top_songs .treading-song {
    padding-left: 0;
}
.content-welcome .treading-song .song-author a , .content-top_songs .treading-song .song-author a {
    font-style: italic;
}
.content-welcome .treading-song .song-title a, .content-top_songs .treading-song .song-title a {
    font-weight: 500;
}
.content-welcome .treading-song  div.jp-current-time, .content-top_songs .treading-song  div.jp-current-time {
    font-size: 16px;
    font-weight: 500;
}
.content-top_songs {
    margin: 0;
    max-width: 100%; 
    padding: 0;
}
.content-top_songs #main-content {
    padding: 0;
}
.content-welcome .treading-song  .track-actions, .content-top_songs .treading-song  .track-actions {
    overflow: visible;
}
.content-welcome .treading-song .counter, .content-top_songs .treading-song .counter {
    font-size: 16px;
}
.content-welcome .treading-song  .like_btn:before, .content-top_songs .treading-song  .like_btn:before {
	    content: "\f004"; 		
    margin-right: 8px;
    font: normal normal normal 14px/1 FontAwesome;
}
.content-welcome .treading-song  .liked:before, .content-top_songs .treading-song  .liked:before {
        content: "\f004";       
    margin-right: 8px;
    font: normal normal normal 14px/1 FontAwesome;
    color:red;
    cursor:pointer;
}
.content-welcome .treading-song  .views_counter:before,  .content-top_songs .treading-song  .views_counter:before {	 
    content: "\f04b";   	
    margin-right: 8px;
    font: normal normal normal 14px/1 FontAwesome;
}
.content-welcome .treading-song .like_btn, .content-welcome .treading-song  .views_counter, .content-top_songs .treading-song .like_btn, .content-top_songs .treading-song  .views_counter {
    background: #fff;
} 
.content-welcome .treading-song.song-container:hover ,  .content-top_songs   .treading-song:hover{
    box-shadow: none;
} 
.content-welcome   .treading-song, .content-top_songs   .treading-song {
	 box-shadow: none; 
    border-bottom: 1px solid #a1a1a1;
}

/* changes website */
body { 
   background: #f2f2f2;
    padding: 0px;
    max-width: 1240px;
    margin: 0px auto;
}
.content-welcome +  .sp_full-search-bar{
	    width: 100%;
    float: left;
    text-align: center;
    margin: auto;
} 
 .search-results {
    width: 600px;
	float:none;
    margin: auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
} 
.search-content {
  
    margin-top: 21px;
    box-shadow: none;
    float: left;
    width: 100%;
}
.content-welcome .treading-song  .jp-progress, .content-top_songs .treading-song  .jp-progress{
	width: 100%!important;
    position: absolute!important;
    box-sizing: border-box!important;
    left: 0!important;
    top: 60px!important;
    /* margin-bottom: 39px; */
    padding: 0px 35px 0px 20px!important;
    background: transparent!important;
    margin: 0!important;      
    /* height:1px!important; */
}
.content-welcome  .treading-song.current-song, .content-top_songs   .treading-song.current-song{
    padding-bottom: 30px!important;
}
.content-welcome, .content-top_songs {
	padding-left:0px;
	padding-right:0px;
}
.footer {
    padding: 10px 0 45px;
} 
.download-btn-top:hover, .more-btn2:hover{
	color:#fff;
}
.search-results .notification-inner {
    background: #333333;
}
.sp_search-container .search-container a {
    color: #fff;
}  
.sp_search-container .search-container a {
    color: #fff;
	opacity:.7;
}
.sp_search-container .search-container a:hover {
	opacity:1;
}
.sp_search-container .search-content .track-inner { 
    background: #111111;
	opacity:.7;	
    color: #fff;
}
.sp_search-container .search-content .track-inner:hover { 
	opacity:1;	
}
.bottombar .jp-current-time.sp_current_play_time{
	color: rgba(121, 0, 0, 1);
}
.bottombar a.jp-play{
    background: url(images/player.png) -35px 0 no-repeat;
    background-size: 105px;
}
.bottombar .prev-button{
    background: url(images/player.png) -35px -70px no-repeat;
    background-size: 105px;
}
.bottombar .next-button{
    background: url(images/player.png) -35px -105px no-repeat;
    background-size: 105px;
}
.bottombar .next-button-disabled, .bottombar  .prev-button-disabled{
	opacity:.5;
}
.bottombar  a.jp-pause{
    background: url(images/player.png) -35px -35px no-repeat;
    background-size: 105px;
}
.page-header {
    /*  padding: 15px 0px 0;*/
    text-transform: capitalize;
    color: #212121;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.menu-btn:hover {
    background: transparent;
    color: #FFF;
    box-shadow: none;
}
.row-body {
    max-width: 100%;
}
.song-art {
    display: none;
}
.player-controls {
    padding: 0 0 10px 0px;
}
.track-actions-container {
    padding: 5px 0 0 0px;
}
.song-top{
	padding:0px;
} 
.topbar-author-name a:hover {
    color: #8D8D8D;
}
.banner-btn{
	    display: inline-block;
    /* font-size: 14px;*/
    background: #790000; 
	    font-size: 20px;
    /* background: rgba(121, 0, 0, 0.62); */
    color: #fff;
    /* border: 1px solid #fff; */
    padding: 5px 10px;
    border-radius: 4px;
    margin: 20px 0 0;
}
.banner-btn:hover{
    color: #fff;
}
div.jp-play-bar {
    background: rgba(121, 0, 0, 1);
}
div.jp-volume-bar-value { 
    background: rgba(121, 0, 0, 1);
}
.modal-background { 
    z-index: 9999;
    background-color: rgba(242,242,242,.9);
}
#share, #playlist, #delete, #connect{
    z-index: 99999;
}
#connect {
       margin: -287.5px 0 0 -225px;
    width: 450px;
}
#connect .modal-container {
    width: 100%;
    max-width: 100%; 	
    padding: 25px;
    box-sizing: border-box;
}
#connect .modal-connect input {
    margin: 0 0 15px 0;
}
#connect .modal-input input {
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 8px;
    border-radius: 5px;
	height:auto;
}
#connect  .modal-inner {
    padding: 0; 
    margin-top: 20px;	
    overflow: hidden;
}
#connect .modal-btn-active {
    margin: 17px 10px 34px 0;
    float: left;
    width: 100%;
}
#connect  #register-form{	
    margin-bottom: -30px;
}
#connect .modal-menu-item , #connect .modal-menu-item:hover, #connect .modal-menu-item-active{
    padding: 5px 20px;
}
#connect .modal-btn-facebook {    
    margin: 34px 10px 10px 0;
    float: left;
    width: 100%;
}
.modal-menu-item:hover, .modal-menu-item-active {
    border-bottom: 3px solid #790000;
}
#connect .modal-btn-active a {
    color: #fff;
    background: #790000;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px 15px;
    box-sizing: border-box;
    line-height: 20px;
}
#connect .modal-btn-facebook a {
    background-color: #264285;
    background-image: linear-gradient(#3857A1,#264285);
    border-color: #264285;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 15px;
    line-height: 20px;
	position:relative;
}
#connect .modal-btn-facebook a:before{
	    font: normal normal normal 14px/1 FontAwesome;
    content: "\f09a";
    /* float: left; */
    font-size: 28px;
    padding-right: 0;
    position: absolute;
    left: 0;
    background: #233f83;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 0;
    border-right: 2px solid #233f83;
}
.or-txt{
	position:relative;
}
.or-txt:before{
	    content: "OR";
    position: absolute;
    left: calc(50% - 20px);
    top: -20px;
    border: 8px solid #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    background: #212121;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px; 
}
.sidebar-container.widget-statistics {
    display: none;
}
.cover-description .subscribe_btn, .cover-description .subscribe_btn.unsubscribe, .sidebar-suggestions .subscribe_btn, .sidebar-suggestions .subscribe_btn.unsubscribe, .profile-card-buttons-container .subscribe_btn, .profile-card-buttons-container .subscribe_btn.unsubscribe, .track-inner .subscribe_btn, .track-inner .subscribe_btn.unsubscribe{
	    background: #a40f0f!important;
    color: #fff;
    font-size: 14px;
    padding: 6px 10px;
    font-weight: 500;
    width: 80px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    height: auto;
}
.cover-content .subscribe_btn:hover , .sidebar-suggestions .subscribe_btn:hover , .profile-card-buttons-container .subscribe_btn:hover , .track-inner .subscribe_btn:hover {
    background-color: #a40f0f;
}
.cover-description .subscribe_btn:before, .sidebar-suggestions .subscribe_btn:before, .profile-card-buttons-container .subscribe_btn:before, .track-inner .subscribe_btn:before{
	content:'Follow';
}
.cover-description .subscribe_btn.unsubscribe:before, .track-inner .subscribe_btn.unsubscribe:before {
	content:'Unfollow'!important;	
} 
.sidebar-suggestions .subscribe_btn.unsubscribe:before , .profile-card-buttons-container .subscribe_btn.unsubscribe:before{
	content:'Unfollow'!important;	
} 
.profile-card-buttons-container {
    width: 117px;
}
.message_btn {
    width: 30px;
    height: 30px;
}
.notification-container {
    right: 0px;
    top: 5px;
    position: absolute;
}
.verfied_user:before{	
    content: "\f058";
	font: normal normal normal 14px/1 FontAwesome;
/*        color: rgba(121, 0, 0, 1);*/
	    color: black;
    font-size: 18px; 
}
.page-settings-container .edit-homepage-settings   .chosen-container{	
    width: 85%!important;
}
.page-settings-container .edit-homepage-settings   .page-input-container, .page-settings-container .edit-homepage-settings   .page-inner, .page-settings-container  .page-content{	   
    overflow: visible!important;
}
@media (max-width : 767px){ 

.notification-container {
    right: 0px;
}
#nav-icon1 { 
    height: 37px;
}
#nav-icon1 span:nth-child(1) {
    top: 3px;
}
#nav-icon1 span:nth-child(2) {
    top: 13px;
}
#nav-icon1 span:nth-child(3) {
    top: 23px;
}
.row-welcome { 
    background-position: 15% 100%;
}
.content-top_songs .track-stats {
    padding-left: 0;display:inline-block!important;
	
}
.content-welcome .treading-song .track-actions-container, .content-top_songs .treading-song .track-actions-container {
    width: 100%; 
}
.content-welcome .treading-song .song-top, .content-top_songs .treading-song .song-top {
    width: 85%; 
}
.search-results {
    width: 100%;
}
.sp_search-container { 
    padding: 0px 15px;
}
.search-content { 
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.content-welcome .track-stats {
    padding-left: 0;
    display: inline-block!important;
}
.content-welcome  .track-stats , .content-top_songs  .track-stats {
    float: left; 
}  
.content-welcome .treading-song div.jp-current-time, .content-top_songs .treading-song div.jp-current-time {
    /* text-align: right; */
}
.content-welcome .track-stats, .content-top_songs .track-stats{ 
    padding-top: 3px;
}
.content-welcome .treading-song .jp-progress, .content-top_songs .treading-song .jp-progress {
    top: 96px!important;
}
.front-div img { 
    height: 270px;
}
.content-welcome .track-actions-content , .content-top_songs .track-actions-content {
    padding-top: 0px!important;
}
.page-header {
    padding: 0px 0px 15px;
}
.sp_artist-pic img { 
    height: 270px;
}
.sp_col-3 {
    width: 50%!important;
}
.content-welcome div.jp-current-time, div.jp-duration, .content-top_songs  div.jp-current-time, div.jp-duration{
    width: auto;
}
.more-btn2 {
	
    position: absolute;
    display: block;
    top: 0;
    left: calc(50% - 68px);
	
	    margin: 0;
}
.page-section .more-btn2 {
    /* left: calc(50% - 48px); */
	    left: 0;
    display: block;
    color: #212121;
    background: transparent;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
}
.page-section .more-btn2  i{
	display:inline-block;
}	
.page-section {
    position: relative; 
    padding-top: 55px;
}
.player-nine {
    width: 53%;
}
.player-three {
    width: 47%;
    float: left;
    overflow: auto;
}
.bottombar-container .topbar-song-name, .topbar-author-name{
	 display:block!important;
 }
}
@media (max-width : 480px){
.content-welcome .treading-song .song-top, .content-top_songs .treading-song .song-top {
    width: 80%;
}
.content-welcome .treading-song .player-controls, .content-top_songs .treading-song .player-controls {
    width: 20%; 
    padding: 0;
}
.content-welcome  .treading-song, .content-top_songs .treading-song {
    padding-right: 0px;
}
.sp_col-3 {
    width: 100%!important;	
    text-align: center;
}
.sp_artist-pic img {
       height: 260px;
    width: 260px;
}
.content-top_songs .track-stats {
    padding-left: 0;
    display: inline-block!important;
}
.content-welcome .track-stats {
    padding-left: 0;display:inline-block!important;
	
}

.content-welcome .treading-song .song-top{
	width:80%;
}
.content-welcome .treading-song .player-controls{
	width:20%; 
}
.content-welcome .treading-song .track-actions-container{
	width:100%;
	
}
body{
	padding:0px;
}
.topbar {
    left: 0;
    width: 100%;
}
.front-div img { 
    height: 260px;
    width: 260px;
}
.front-div {
    text-align: center;
}
.page-section > h1 {
    text-align: center;
}
#connect {
    margin: 0;
    width: calc(100% - 30px);
    left: 15px;
    top: 20px;
    right: 15px;
} 
}
@media (max-width : 320px){
	.content-welcome .treading-song .jp-progress, .content-top_songs .treading-song .jp-progress {
    padding: 0px 20px 0px 20px!important;
}
.bottombar-container #topbar-artwork{
	display:none!important;
}
.player-nine {
    transform: scale(.7);
}
}
.message_btn{display:none;}
#messages_btn{display:none;}
.verfied_user {display: inline-block;}
.public-button{display:none;}
.content-all_albums .col3{margin-bottom: 30px;}
.like_btn:before {content: "\f004";margin-right: 8px;font: normal normal normal 14px/1 FontAwesome;}
.like-button:before {content: "\f004";margin-right: 8px;font: normal normal normal 14px/1 FontAwesome;}
.liked-button:before {content: "\f004";margin-right: 8px;font: normal normal normal 14px/1 FontAwesome;color:red}
.like_btn {background-image: none !important;}
.like-button{background-image: none !important; padding-left: 2px;color:#777777}
.liked-button{background: none !important; padding-left: 2px;}
.sp_load a {background: #ddd;}
.download-button{display:none;}
.downloads_counter{display:none;}

.content-welcome .track-actions .track-buttons-container, .content-top_songs .track-actions .track-buttons-container{    font-size: 12px;    float: right;    margin-left: 10px;}.content-welcome .track-actions  .playlist-button , .content-top_songs  .track-actions  .playlist-button{    background-size: 24px;}.content-welcome .track-actions  .share-button, .content-top_songs  .track-actions  .share-button {    background-size: 19px;}.content-welcome  .track-actions-container .counter, .content-top_songs   .track-actions-container .counter {    padding: 0 0 0 17px;}

.playlist-button:hover , .content-welcome  .share-button:hover,  .content-top_songs .playlist-button:hover , .content-top_songs .share-button:hover{
    background-color: #fff ;
}

/* media for new additional add & share */

@media(max-width : 767px){
.content-welcome .track-actions .track-buttons-container, .content-top_songs  .track-actions .track-buttons-container {
    font-size: 12px;
    float: right;
    margin-left: 10px;
}
.content-welcome .track-actions .track-buttons-container .share-button, .content-top_songs  .track-actions .track-buttons-container .share-button, .content-welcome .track-actions .track-buttons-container .playlist-button , .content-top_songs  .track-actions .track-buttons-container .playlist-button {
    line-height: 27px;
    min-height: 19px;
}
}

/* New changes on 10th july */
.search-container1 .search-content{
	    background: transparent;
    position: absolute;
    top: 39px;
}
.search-container1 .search-results{
	background:#fff;
}
.search-container1 .notification-inner > a{
	color:#fff;
}
@media(min-width : 1171px){
	.header .col-menu-container .search-input {
    width: 40%!important; 
}
}
@media(max-width : 767px){
	.hide-mobile{
		display:none;
	}
	.search-container1 .search-content {
    background: transparent;
    position: absolute;
    top: 213px;
    left: 0;
    /* padding: 0 15px; */
    box-sizing: border-box;
}
}
@media(min-width : 992px){
.cover-image {
    padding-top: 340px;
	background-repeat:no-repeat;
	background-size:cover;
}
.cover-text-container {
    top:initial;
    bottom: 90px;
}
.cover-avatar {
    top:initial;
    bottom: 90px;
}
}
.row-welcome.content-welcome.sp_banner {display: none;}
#content .sp_full-search-bar {display: none;}
#content .sp_search-container {display: none;}
.page-section.content-welcome {margin-top: 50px;}
.topbar {
    background: rgba(121, 0, 0, 1) !important;
}
div.track-likes {display: none;}
.sidebar-container.widget-archive {display: none;}