@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

html {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

body {
color:#212121;
font-family: 'Roboto', Tahoma, Arial, sans-serif;
font-size:13px;
margin:0;
padding:0;
background: #FFF;
}
img {  }

h1 { font-size: 52px; margin: 0; padding: 5px 15px;}
h3 { font-size: 28px; margin: 0; }
h4 { font-size: 24px; margin: 10px 0 0 0; }

h1, h3, h4, h5 {
font-weight: 300;
}
a {
color: #333;
text-decoration: none;
}

a:hover {
color: #000;
}
code, pre {
word-wrap: break-word;
}
code.api-request {
background: #f2f2f2;
}
option:hover {
cursor: pointer;
}
table {
border-collapse:collapse;
}
table, td, th {
border: 1px solid #CCC;
padding: 3px;
}

img { border: 0 }

form {
margin: 0 0 0 0; /* Firefox fix - creates a blank space on the edit user page */
}
input, textarea, select{ font-family: inherit; }
/* Selectie */
::selection {
background:#000;
color:#fff;
}
::-moz-selection {
background:#000;
color:#fff;
}
::-webkit-selection {
background:#000;
color:#fff;
}
input[type="submit"] {
border-radius: 3px;
box-sizing: border-box;
color: currentColor;
position: relative;
outline: 0;
border: 0;
display: inline;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 16px;
margin: 6px 8px;
line-height: 36px;
min-height: 36px;
background: 0 0;
white-space: nowrap;
text-align: center;
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
font-style: inherit;
font-variant: inherit;
font-family: inherit;
text-decoration: none;
cursor: pointer;
overflow: hidden;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
color: rgb(33,33,33);
background-color: rgb(250,250,250);
}
.btn-button {
border-radius: 3px;
box-sizing: border-box;
color: currentColor;
position: relative;
outline: 0;
border: 0;
display: inline;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 16px;
margin: 6px 8px;
line-height: 36px;
min-height: 36px;
background: 0 0;
white-space: nowrap;
text-align: center;
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
font-style: inherit;
font-variant: inherit;
font-family: inherit;
text-decoration: none;
cursor: pointer;
overflow: hidden;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
color: rgb(33,33,33);
background-color: rgb(250,250,250);
}
input[type="submit"]:hover {
background: #ddd;
}
input[type="submit"]:active{
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
input:-webkit-autofill {
    box-shadow: 0 0 0 1100px white inset;
}
/* This fixes the ugly native rounded corners & shadows on iOS */
input[type="text"], input[type="submit"], textarea {
-webkit-appearance: none;
}
select {
max-width: 175px;
outline: 0;
}
.row-top {
background: #fff;
padding: 20px 0 10px 0;
border-bottom: 1px solid #c3c3c3;
overflow: auto;
}
.row-page {
border-bottom: 0;
width: 100%;
margin: 0 auto;
max-width: 1120px;
overflow: auto;
padding: 0 10px;
box-sizing: border-box;
}
.row-body {
border-bottom: 0;
width: 100%;
margin: 0 auto;
max-width: 1120px;
overflow: hidden;
padding: 0 10px 10px;
box-sizing: border-box;
}
.row-footer {
padding: 20px 0 10px 0;
overflow: auto;
}
.row-body .one { width: 8.333%; }
.row-body .two { width: 16.667%; }
.row-body .three { width: 25%; }
.row-body .four { width: 33.333%; }
.row-body .five { width: 41.667%; }
.row-body .six { width: 50%; }
.row-body .seven { width: 58.333%; }
.row-body .eight { width: 66.667%; }
.row-body .nine { width: 75%; }
.row-body .ten { width: 83.333%; }
.row-body .eleven { width: 91.667%; }
.row-body .twelve { width: 100%; }

.row-page .three { width: 25%; float: right; }
.row-page .nine { width: 75%; float: left; }
.row-page .stats-container {  width: 25%; padding-top: 10px;}
.row-body .stats-container {  padding-top: 10px;}
.row-page .twelve { width: 100%; }
.row-page .table-id { width: 7%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-user { width: 33%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-user img { height: 15px; width:15px; border-radius: 3px; margin-right: 5px; vertical-align: middle; }
.row-page .table-mail { width: 45%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-edit { width: 8%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-delete { width: 7%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-category-name { width: 83%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-report-id { width: 7%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-report-type { width: 13%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-user { width: 33%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-user img { height: 15px; width:15px; border-radius: 3px; margin-right: 5px; vertical-align: middle; }
.row-page .table-report-message { width: 20%; padding: 5px 0; word-wrap: break-word; }
.row-page .table-report-safe { width: 10%; padding: 5px 0; word-wrap: break-word;}
.admin-rows { width: 100%; float: left; overflow: auto; }
.admin-rows a { cursor: pointer }

.dash-stats {
width: 33.333%;
}
.dash-half {
width: 50%;
float: left;
}
.stats-values {
font-size: 14px;
font-weight: bold;
}
.dashboard-info {
margin-top: 10px;
float: left;
width: 100%;
}
.dashboard-info a {
color: #fe4646;
font-weight: bold;
}
.dashboard-info a:hover {
color: #de4242; 
}
.neutral {
color: #999;
}
.positive {
color: #27ae60;
}
.negative {
color: #FF5757;
}
.dash-values {
font-size: 22px;
}
.chart {
display: table;
table-layout: fixed;
width: 80px;
height: 30px;
margin: 0;
padding: 15px 0 0 0;
}
.chart li {
position: relative;
display: table-cell;
vertical-align: bottom;
height: 30px;
padding-right: 1px;
}
.chart span {
margin: 0 0;
display: block;
background: #fe4646;
}
.chart span:hover {
background: #de4242;
}

.stats-container h3 {
font-weight: 400;
font-size: 22px;
}
.payment-content {
padding: 5px 0;
width: 100%;
float: left;
}
.payment-row {
padding: 5px 0;
}
.list-content {
padding-bottom: 5px;
overflow: auto;
clear: both;
}
.list-button {
margin: 2px 0 0 0 !important;
}
.page-button {
float: left !important;
margin: 10px 10px 0 0 !important;
}
.report-title {
font-size: 18px;
}
.report-content {
padding: 5px 0;
width: 100%;
float: left;
white-space: pre-line;
}
.report-content img {
margin-bottom: -2px;
}
.manage-users-container {
padding: 20px 20px;
border-bottom: 1px solid #DBDBDB;
}
.manage-users-container a {
text-decoration: none;
cursor: pointer;
}
.manage-users-image img {
width: 35px;
float: left;
}
.manage-users-content {
padding: 0 55px 0 45px;
word-break: break-all;
}
.manage-users-buttons {
float: right;
overflow: auto;
margin-top: -35px;
}
.manage-users-buttons a {
float: right;
}
.manage-list-name {
font-size: 14px;
padding-bottom: 5px;
}
.manage-list-buttons {
margin-top: -30px;
}
.row-top .threeads {
width: 33.3333%;
}
.row-one {
float: left;
width: 15%;
}
.row-two {
float: left;
width: 10%;
}
.row-three {
float: left;
width: 60%;
word-break:break-all;
}
.row-four {
float: left;
width: 15%;
text-align: right;
}
.row-welcome {
    border-bottom: 0;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    background: url(https://www.smubuafrica.com/themes/sound/images/background.png);
    margin-top: -30px;
    position: relative;
    animation: background 50s linear infinite;
}
@-webkit-keyframes background {
0% { background-position: 0 0; }
100% { background-position: 100% 0; }
}
@-moz-keyframes background {
0% { background-position: 0 0; }
100% { background-position: 100% 0; }
}
@keyframes background {
0% { background-position: 0 0; }
100% { background-position: 100% 0; }
}
.row {
width: 100%;
margin: 0 auto;
max-width: 1100px;
overflow: auto;
}
.row .one { width: 8.333%; }
.row .two { width: 16.667%; }
.row .three { width: 25%; }
.row .four { width: 33.333%; }
.row .five { width: 41.667%; }
.row .six { width: 50%; }
.row .seven { width: 58.333%; }
.row .eight { width: 66.667%; }
.row .nine { width: 75%; }
.row .ten { width: 83.333%; }
.row .eleven { width: 91.667%; }
.row .twelve { width: 100%; }

.column, .columns {
float: left;
min-height: 1px;
position: relative;
}
[class*="column"] + [class*="column"]:last-child { float: right; }

[class*="column"] + [class*="column"].end { float: left; }

.header {
margin: 0 auto;
max-width: 1100px;
overflow: auto;
padding: 0 10px;
}
.topbar {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1000;
height: 55px;
background: #2b2a30;
margin-bottom: 40px;
box-shadow: 0 0 8px #888888;
box-shadow: 0 0 8px rgba(0,0,0,.4);
}
.topbar_margin {
width: 100%;
height: 55px;
}

.bottombar {
position: fixed;
bottom: 0;
right: 0;
left: 0;
z-index: 1000;
height: 55px;
background: #fafafa;
box-shadow: 0 0 8px #888888;
box-shadow: 0 0 8px rgba(0,0,0,.4);
}
.bottombar-container {
margin: 0 auto;
max-width: 1100px;
padding: 0 10px;
}

.menu-image {
float: right;
height: 55px;
font-size: 12px;
color: #fff;
padding: 0 6px;
cursor: pointer;
}
.menu-image:hover {
background: rgba(0, 0, 0, .12);
}
.menu-image:active {
background: rgba(0, 0, 0, .35);
}
.menu-image-active {
background: rgba(0, 0, 0, .12);
}
.menu_hover_messages, .menu_hover_notifications {
background: rgba(0, 0, 0, .12);
}
.menu_visitor {
float: right;
margin-top: 20px;
padding-right: 10px;
color: #fff;
}
.menu_arrow {
margin: 25px 0 0 5px;
float: right;
min-width: 10px;
min-height: 5px;
background: url('images/downarrow.png') no-repeat;
background-size: 10px;
}
.menu-dd-container {
max-width: 1120px;
width: 100%;
top: 5px;
position: absolute;
display: none;
padding-right: 20px;
box-sizing: border-box;
    z-index: 9;

}
.menu-dd-content {
background: #fff;
min-width: 200px;
width: auto;
float: right;
transition: all .4s cubic-bezier(.25,.8,.25,1);
transition-duration: 150ms;
box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.menu-dd-row {
text-align: left;
color: #888;
white-space: nowrap;
text-overflow: ellipsis;
font-size: 14px;
color: rgba(0,0,0,0.87);
padding: 17px 16px;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}
.menu-dd-row:hover {
background: rgb(238,238,238);
}
.menu-dd-extra {
color: #FF6060
}
.menu-dd-mobile {
display: none;
}
.menu-dd-content a {
color: #DDD;
text-decoration: none;
width: 100%;
}
.menu-dd-content a:hover {
color: #FFF;
}
.menu_img {
float: right;
width: 30px;
height: 30px;
margin-top: 12px;
}
.menu_img img {
width: 30px;
height: 30px;
border-radius: 50%;
}
.menu_btn {
padding: 0 6px;
float: right;
height: 55px;
}
.menu_btn img {
margin-top: 19px;
width: 16px;
height: 16px;
}
.menu_btn:hover {
background: rgba(0, 0, 0, .12);
}
.menu_btn:active {
background: rgba(0, 0, 0, .35);
}
.menu-btn {
	float: right;
	border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    margin: 9.5px 0;
    line-height: 36px;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    color: white;
}
.menu-btn:hover {
	background: #ff1844;
	color: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.menu-btn:active, .menu-btn:focus {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.search-input input::-webkit-input-placeholder {
color: #E0E0E0
}
.search-input input::-moz-placeholder {
color: #E0E0E0
}
.search-input input:-ms-input-placeholder {
color: #E0E0E0
}
.search-input input::placeholder {
color: #E0E0E0
}
.search-input input:focus::-webkit-input-placeholder {
color: #767676
}
.search-input input:focus::-moz-placeholder {
color: #767676
}
.search-input input:focus:-ms-input-placeholder {
color: #767676
}
.search-input input:focus::placeholder {
color: #767676
}
.search-input {
float: left;
}
.search-input input {
border-radius: 3px;
outline: none;
border: 0;
padding: 7px;
margin-top: 12px;
background: #302f35;
width: 150px;
color: #fff;
}
.search-input input:hover {
background: #3f3d45;
}
.search-input input:focus,
.search-input input:active {
background-color: #FFF;
color: #767676;
}
.search-container, .search-list-container {
max-width: 1120px;
width: 100%;
display: none;
position: relative;
top: -45px;
margin: 0 auto;
color: rgba(0,0,0,0.87);
padding: 0 10px;
box-sizing: border-box;
}
.search-list-container .search-content {
background: #FFF;
}
.search-container a {
color: rgba(0,0,0,0.87);
}
.search-container a:hover {
text-decoration: none;
cursor: pointer;
color: #ff1844;
}
.search-content {
z-index: 999;
top: 55px;
background: #fff;
overflow: auto;
transition: all .4s cubic-bezier(.25,.8,.25,1);
transition-duration: 150ms;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.search-content .notification-inner, .search-content .track-inner {
padding: 10px 20px;
border-bottom: 1px solid #DBDBDB;
}
.search-content .track-inner:hover {
background: rgb(238,238,238);
}
.search-results {
width: 100%;
float: left;
}
.search-results .subscribe_btn, .search-results .edit_profile_btn, .search-results .sub-loading, .search-results .message_btn {
position: inherit;
}
.search-results .sound-inner {
border-top: 1px solid #DBDBDB;
}
.search-image img {
width: 25px;
height: 25px;
float: left;
overflow:auto;
}
.search-text {
padding: 2px 0 5px 35px;
}
.search-icons {
float: right;
margin-top: -20px;
}
.search-icons img {
width: 15px;
height: 15px;
}
.hashtag {
border-bottom: 1px solid #333;
overflow: auto;
}
.hashtag-inner {
padding: 10px 20px;
}
.hashtag a {
cursor: pointer;
float: left;
width: 100%;
overflow: auto;
}
.hashtag a:hover {
background: #2b2b2b;
text-decoration: none;
}
.content {
background: #FFF;
overflow: auto;
border-left: 1px solid #CCC;
border-right: 1px solid #CCC;
}
.cover-container {
padding: 0;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
position: relative;
margin-bottom: 30px;
}
.cover-content {
border-bottom: 1px solid #DBDBDB;
background: #fff;
color: #6B6B6B;
overflow: auto;
}
.cover-image {
float: left;
top: 0;
padding-top: 166px;
width: 100%;
}
.cover-image img {
width: 100%;
}
.cover-description {
width: 100%;
float: left;
overflow: auto;
}
.cover-description-content {
margin-left: 20px;
margin-right: 10px;
}
.cover-avatar-content {
width: 112px;
margin: 0 0 0 20px;
overflow: auto;
}
.cover-avatar {
position: absolute;
width: 60px;
top: 90px;
}
.cover-avatar a {
overflow: hidden;
height: 106px;
float: left;
}
.cover-avatar img {
width: 100%;
margin-bottom: -3px;

border: 2px solid #fff;
-webkit-border-radius: 50%;
border-radius: 50%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
height: 60px;
width: 60px;
}
.cover-description-buttons {
margin: 0;
position: absolute;
width: 100px;
right: 20px;
top: 120px;
}
.cover-buttons {
float: left;
}
a.cover-button {
float: left;
text-decoration: none;
color: #999;
padding: 17px 16px;
}
a.cover-button:hover {
color: #777;
border-bottom: 3px solid #fe4646;
padding-bottom: 14px;
}
a.cover-button-active {
color: #777;
border-bottom: 3px solid #fe4646;
padding-bottom: 14px;
}
.cover-text-container {
font-size: 30px;
font-weight: 500;
margin: 0 60px 0 80px;
position: absolute;
text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
top: 90px;
}
.cover-text-container a {
padding: 3px 5px;
color: #FFF;
}
.cover-text-container a:hover {
color: #FFF;
}
.cover-text-container img {
margin: 0 0 -2px 7px;
width: 17px;
height: 17px;
}
.cover-username {
}
.cover-location {
padding: 3px 5px; 
font-size: 14px; 
color: #FFF;
display: block;
font-weight: 300;
}
.message-container {
padding-right: 20px;
}
	.message-container .divider {
		display: none;
	}
.message-container a {
color: #666;
text-decoration: none;
}
.message-container a:hover {
color: #E45C5C;
}
.message-content {
color: #999;
}
.message-inner, .sidebar-inner {
padding: 10px 20px;
}
.message-inner {
padding: 10px 0;
}
.track-inner, .list-inner {

}
.divider {
height: 1px;
width: 100%;
background: #DBDBDB;
clear: both;
}
.list-container {
overflow: auto;
padding: 20px;
margin: 0 0 20px 0;
transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
background: #fff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.list-container:hover {
box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.sound-inner {
padding: 10px;
}
.track-actions {
width: 100%;
overflow: auto;
}
.track-actions-content {
/*padding: 5px 0 0 0;*/
}
.track-actions-content a {
color: #666;
}
.track-actions-content a:hover {
color: #333;
}
.track-actions a {
cursor: pointer;
}
.list-avatar {
width: 60px;
float: left;
overflow:auto;
}
.list-avatar img {
width: 60px;
}
.track-author {
padding: 0 0 3px 0;
}
.track-author a {
color: #444;
cursor: pointer;
font-weight: bold;
text-decoration: none;
}
.track-author a:hover {
color: #E45C5C;
}
.message-message {
padding-top: 5px;
word-wrap: break-word;
}
.list-top {
padding: 2px 0 5px 70px;
}
.list-time {
overflow: auto;
color: #ccc;
font-size: 10px;
padding-top: 5px;
}
.track-actions-container {
padding: 5px 0 0 132px;
}
.message-reply-container {
width: 100%;
padding-top: 10px;
overflow: auto;
}
.message-reply-container .delete_btn, .message-reply-container .report_btn {
display: none;
}
.message-reply-container:hover .delete_btn, .message-reply-container:hover .report_btn {
display: block;
}
.message-reply-content {
color: #666;
padding-top: 2px;
}
.message-reply-author {
float: left;
padding-right: 10px;
}
.comments-container {
padding: 10px 0 0 0;    }
.comment-active {
border-bottom: 3px solid #fe4646;
}
.chat-container .message-reply-author {
padding-right: 0;
}
.message-reply-author a {
color: #666;
cursor: pointer;
font-weight: bold;
}
.message-reply-message {
padding: 20px;
margin-left: 70px;
background: white;
word-wrap: break-word;
border-radius: 0 5px 5px 5px;
position: relative;
}
.message-reply-message::before {
    content: "";
    border: 15px solid transparent;
    border-top-color: white;
    position: absolute;
    left: -15px;
    top: 0;
}
.song-container-page .message-reply-message {
	background-color: #eee;
}
.song-container-page .message-reply-message::before {
	border-top-color: #eee;
}

.message-comment-box-container {
padding: 20px 0 0 0;
overflow: auto;
width: 100%;
}
.message-comment-box-form {
padding: 0 0 5px 70px;
}
.comment-reply-textarea {
padding: 6px 7px;
color: #6B6B6B;
font-size: 13px;
overflow: hidden;
width: 100%;
resize: none;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border: 0;
border-bottom: 2px solid #DDD;
max-width: 100%;
outline: 0;
min-height: 48px;
height: 48px;
}
.comment-reply-textarea:focus {
border-color: #ff1844;
}
.message-reported {
padding-bottom: 5px;
}
.blocked-button {
float: right;
font-weight: normal;
font-size: 13px;
text-transform: capitalize;
}
.blocked-button a {
cursor: pointer;
color: #999;
text-decoration: none;
}
.blocked-button a:hover {
color: #666;
text-decoration: underline;
}
.unblock-button a {
color: #666;
}
.unblock-button a:hover {
color: #000;
}
.playlist-button {
background: url('images/icons/playlist_btn_n.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px 0 30px;
margin: 6px 0;
line-height: 36px;
min-height: 36px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.playlist-button:hover {
background: #EFEFEF url('images/icons/playlist_btn_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.playlist-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.share-button {
background: url('images/icons/share_btn_n.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px 0 30px;
margin: 6px 0;
line-height: 36px;
min-height: 36px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.share-button:hover {
background: #EFEFEF url('images/icons/share_btn_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.share-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.delete-button {
background: url('images/icons/delete_btn_n.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px;
margin: 6px 0;
line-height: 36px;
min-height: 36px;
width: 29px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.delete-button:hover {
background: #EFEFEF url('images/icons/delete_btn_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.delete-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.buy-button {
background: url('images/icons/buy_btn_n.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px;
margin: 6px 0;
line-height: 36px;
min-height: 36px;
width: 29px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.buy-button:hover {
background: #EFEFEF url('images/icons/buy_btn_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.buy-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.private-button {
background: url('images/icons/private_btn_n.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px 0 22px;
margin: 6px 0;
line-height: 36px;
min-height: 36px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.private-button:hover {
background: #EFEFEF url('images/icons/private_btn_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.private-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.public-button {
background: url('images/icons/public_btn_n.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px;
margin: 6px 0;
line-height: 36px;
min-height: 36px;
width: 29px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.public-button:hover {
background: #EFEFEF url('images/icons/public_btn_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.public-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.like-button {
background: url('images/icons/like_btn_n.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px 0 30px;
margin: 6px 8px;
line-height: 36px;
min-height: 36px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.like-button:hover {
background: #EFEFEF url('images/icons/like_btn_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.like-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.liked-button {
background: #f1f1f1 url('images/icons/like_btn_h.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px 0 30px;
margin: 6px 8px;
line-height: 36px;
min-height: 36px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.liked-button:hover {
background: #f1f1f1 url('images/icons/like_btn_n.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.liked-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.download-button {
background: url('images/icons/download_btn_n.png') 5px center no-repeat;
background-size: 17px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px 0 22px;
margin: 6px 0;
line-height: 36px;
min-height: 36px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.download-button:hover {
background: #EFEFEF url('images/icons/download_btn_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.download-button:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.loading-button {
background: url('images/loader.gif') 5px center no-repeat;
background-size: 15px;
margin-right: 5px;
overflow: hidden;
border-radius: 3px;
cursor: pointer;
color: #212121;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 6px 0 30px;
margin: 6px 8px;
line-height: 36px;
min-height: 36px;
white-space: nowrap;
text-align: center;
display: inline-block;
box-sizing: border-box;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.small-loader {
background: url('images/loader.gif') no-repeat;
background-size: 15px;
float: right;
width: 15px;
height: 15px;
margin-top: 1px;
}
.vertical-divider {
padding: 0 10px;
color: #DBDBDB;
float: right;
font-size: 12px;
}
.counter {
width: auto;
padding: 0 0 0 30px;
height: 17px;
float: right;
color: #A8A8A8;
background-size: 17px;
background-repeat: no-repeat;
background-position: 10px 0;
font-size: 12px;
}
.views_counter {
background-image: url('images/icons/views.png');
}
.comments_counter {
background-image: url('images/icons/comment_n.png');
}
.downloads_counter {
background-image: url('images/icons/download_btn_n.png');
}
.like_btn {
background-image: url('images/icons/like_n.png');
}
.comments_counter:hover, .like_btn:hover, .views_counter:hover, .downloads_counter:hover {
color: #777;
}
.like_btn_extended {
float: none;
display: inline;
margin-right: 6px;
padding-right: 0;
}
.playlist-title {
font-size: 15px;
word-wrap: break-word;
}
.playlist-play-content {
padding: 2px 0 10px 0;
float: left;
}
.playlist-content a {
text-decoration: none;
}
.playlist-content-info {
padding-left: 100px;
}
.playlist-buttons-container {
font-size: 12px;
}
.playlist-actions-container {
padding: 0 0 0 90px;
margin-bottom: -10px;
}
.playlist-actions {
width: 100%;
overflow: auto;
}
.playlist-actions-content {
font-size: 12px;
float: left;
padding: 0;
}
.playlist-artwork {
}
.playlist-artwork img {
width: 75px;
}
.playlist-stats {
float: right;
padding: 20px 0 10px 0;
}
.tracks-small-icon {
background: url(images/icons/tracks_small.png) no-repeat left center;
background-size: 12px;
padding-left: 15px;
color: #666;
float: left;
}
.liked-content {
color: #777;
line-height: 22px;
}
.liked-content a {
color: #555;
text-decoration: none;
}
.liked-content a:hover {
color: #000;
}
.like_user_avatar {
float: none;
display: inline;
margin-right: 6px;
}
.like_user_avatar img {
vertical-align: middle;
width: 16px;
height: 16px;
margin-top: -4px;
}
.like_text_snippet {
color: #999;
margin-top: 2px;
overflow: auto;
}
.comment-btn {
float: right;
display: none;
}
.comment-btn a {
float: right;
border-radius: 5px;
text-align: center;
line-height: 32px;
cursor: pointer;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
color: #282828;
margin: 0 5px 3px;
padding: 6px 8px;
background: #eee;
}
.comment-btn a:hover {

}
.comment-btn a:active {
background: #888;
color: #FFF;
}
.close_btn {
width: 17px;
height: 17px;
float: right;
background: url('images/icons/close.png');
background-size: 17px;
cursor: pointer;
}
.close_btn:hover {
background: url('images/icons/close_h.png');
background-size: 17px;
}
.delete_btn {
width: 17px;
height: 17px;
float: right;
background: url('images/icons/delete.png');
background-size: 17px;
cursor: pointer;
}
.delete_btn:hover {
background: url('images/icons/delete_h.png');
background-size: 17px;
}
.report_btn {
width: 17px;
height: 17px;
float: right;
background: url('images/icons/report.png');
background-size: 17px;
cursor: pointer;
}
.report_btn:hover {
background: url('images/icons/report_h.png');
background-size: 17px;
}
.subscribe_btn {
background-color: rgba(255, 255, 255, 0.6);
background-image: url(images/icons/subscribe.png);
background-size: 25px;
background-position: center;
color: #6B6B6B;
border-radius: 3px;
width: 25px;
height: 25px;
float: right;
cursor: pointer;
margin-left: 5px;
border: 1px solid #DDD;
}
.subscribe_btn:hover {
background-color: #f1f1f1;
background-image: url(images/icons/subscribe_h.png);
}
.subscribe_btn:active, .subscribe_btn:focus {
background-color: #DDD;
background-image: url(images/icons/subscribe_h.png);
}
.unsubscribe {
background-image: url(images/icons/unsubscribe.png);
}
.unsubscribe:hover, .unsubscribe:active {
background-image: url(images/icons/unsubscribe_h.png);
}
.sub-loading {
background-color: #fff;
background-image: url(images/loader.gif);
background-size: 20px;
background-position: center;
background-repeat: no-repeat;
color: #6B6B6B;
border-radius: 3px;
width: 25px;
height: 25px;
float: right;
cursor: pointer;
margin-left: 5px;
}
.list-container .sub-loading {
border: 1px solid #DDD;
}
.edit_profile_btn {
background-color: rgba(255, 255, 255, 0.6);
background-image: url(images/icons/profile_edit.png);
background-size: 25px;
background-position: center;
color: #6B6B6B;
border-radius: 3px;
width: 25px;
height: 25px;
float: right;
cursor: pointer;
margin-left: 5px;
border: 1px solid #DDD;
}
.edit_profile_btn:hover {
background-color: #f1f1f1;
background-image: url(images/icons/profile_edit_h.png);
}
.edit_profile_btn:active, .edit_profile_btn:focus {
background-color: #DDD;
background-image: url(images/icons/profile_edit_h.png);
}
.message_btn {
background-color: #FFF;
background-image: url(images/icons/message_btn.png);
background-size: 25px;
background-position: center;
color: #6B6B6B;
border-radius: 3px;
width: 25px;
height: 25px;
float: right;
cursor: pointer;
border: 1px solid #DDD;
}
.message_btn:hover {
background-color: #f1f1f1;
background-image: url(images/icons/message_btn_h.png);
}
.message_btn:active, .message_btn:focus {
background-color: #DDD;
background-image: url(images/icons/message_btn_h.png);
}
.cover-content .message_btn, .cover-content .edit_profile_btn, .cover-content .subscribe_btn {
border: 0;
background-color: rgba(255, 255, 255, 0.6);
}
.cover-content .message_btn:hover, .cover-content .edit_profile_btn:hover, .cover-content .subscribe_btn:hover {
background-color: #FFF;
}
.cover-content .message_btn:active, .cover-content .message_btn:focus, .cover-content .edit_profile_btn:active, .cover-content .edit_profile_btn:focus, .cover-content .subscribe_btn:focus, .cover-content .subscribe_btn:active {
background-color: #DDD;
}
.load-more-comments, .load-more-chat {
padding: 5px 0;
text-align: center;
height: 17px;
}
.load-more-comments a, .load-more-chat a {
color: #999;
text-decoration: none;
cursor: pointer;
}
.load-more-comments a:hover, .load-more-chat a:hover {
color: #666;
}
.load-more-comments img, .load-more-chat img {
width: 85px;
vertical-align: center;
}
.last-comment-wrong {
border-bottom: 1px solid #DBDBDB;
padding-bottom: 5px;
}
.comments_preloader {
width: 100%;
}
.delete_preloader img, .comments_preloader img {
width: 85px;
}
.message-reply-avatar {
width: 70px;
float: left;
overflow:auto;
}
.message-reply-avatar img {
border-radius: 24px;
box-shadow: 0 1px 2px #8d8d8d;
height: 48px;
width: 48px;
margin: 0 0 0 2px;
}
.button-normal {
border-radius: 3px;
box-sizing: border-box;
color: currentColor;
position: relative;
outline: 0;
border: 0;
display: inline;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 16px;
margin: 6px 8px;
line-height: 36px;
min-height: 36px;
background: 0 0;
white-space: nowrap;
text-align: center;
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
font-style: inherit;
font-variant: inherit;
font-family: inherit;
text-decoration: none;
cursor: pointer;
overflow: hidden;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
color: rgb(33,33,33);
background-color: rgb(250,250,250);
}
.button-normal:hover {
background: #ddd;
}
.button-normal:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
#load-more {
padding: 5px 0 0;
}
.load-more-comments {
padding: 5px 0 0;
}
.load_more {
text-align: center;
padding: 3px;
}
.load_more a {
border-radius: 3px;
box-sizing: border-box;
color: currentColor;
position: relative;
outline: 0;
border: 0;
display: inline-block;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 16px;
margin: 6px 8px;
line-height: 36px;
min-height: 36px;
background: 0 0;
white-space: nowrap;
text-align: center;
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
font-style: inherit;
font-variant: inherit;
font-family: inherit;
text-decoration: none;
cursor: pointer;
overflow: hidden;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
color: rgb(33,33,33);
}
.load_more a:hover {
background: #ddd;
}
.load_more a:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.load_more img {
width: 85px;
}
.new-message {
box-shadow: 0px 1px 1px #CCC;
border: 1px solid #BFBFBF;
background: #fff;
color: #6B6B6B;
border-radius: 3px;
overflow: auto;
padding: 5px 10px;
cursor: pointer;
text-decoration: none;
text-align: center;
}
.new-message:hover {
border: 1px solid #AAA;
color: #888;
}
.new-message:active {
box-shadow: #CCC 0px 1px 3px inset;
}
.new-message-url a {
color: #898F9C;
text-decoration: none;
}
.new-message-url a:hover {
color: #666;
}
.timeago, .timeago-standard {
color: #ccc;
display: inline;
}
.timeago:hover, .timeago-standard:hover {
color: #666
}
.message-reply-container .list-time {
	padding-top: 1px;
}
.pro-icon {
background: url('images/icons/pro.png') no-repeat;
}
.pro-small {
background-size: 13px;
width: 13px;
height: 13px;
display: inline-block;
margin: 0 0 -2px 3px;
}
.pro-normal {
background-size: 17px;
width: 17px;
height: 17px;
display: inline-block;
margin: 0 0 -2px 0;
}
.sidebar-container {
margin: 0 0 20px 0;
}
.widget-suggestions {
padding: 0 0 10px 0;
background: #fff;
color: #6B6B6B;
overflow: hidden;
transition: box-shadow .5s;
box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.sidebar-content {
background: #fff;
color: #6B6B6B;
overflow: hidden;
transition: box-shadow .5s;
box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.widget-suggestions:hover, .sidebar-content:hover {
box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.sidebar-header {
padding: 20px;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
color: #757575;
}
.sidebar-header a {
color: #777;
text-decoration: none;
}
.sidebar-header a:hover {
color: #222;
}
.sidebar-header-extra {
float: right;
}
.sidebar-header-extra a {
border-radius: 3px;
box-sizing: border-box;
position: relative;
display: inline-block;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 0 16px;
line-height: 36px;
min-height: 36px;
background: 0 0;
white-space: nowrap;
text-align: center;
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
font-style: inherit;
font-variant: inherit;
font-family: inherit;
text-decoration: none;
cursor: pointer;
overflow: hidden;
color: #ff1844;
margin-top: -9px;
margin-right: -10px;
}
.sidebar-header-extra a:hover {
background-color: #DBDBDB;
background-color: rgba(158,158,158,0.2);
color: #ff1844;
}
.sidebar-subscriptions {
width: 33.333%;
float: left;
}
.sidebar-subscriptions img {
width: 100%;
margin-bottom: -4px;
}
.sidebar-subscriptions-padding {
padding: 5px;
}
.sidebar-suggestions {
width: 100%;
float: left;
}
.sidebar-suggestions a {
text-decoration: none;
color: #888;
}
.sidebar-suggestions a:hover {
color: #000;
}
.sidebar-suggestions-inner {
padding: 10px 20px 10px 20px;
overflow: auto;
}
.sidebar-suggestions-image {
float: left;
width: 35px;
}
.sidebar-suggestions-image img {
width: 35px;
border-radius: 3px;
}
.sidebar-suggestions-info {
margin: 0 30px 0 45px;
}
.sidebar-suggestions-small {
font-size: 11px;
padding-top: 5px;
cursor: default;
}
.sidebar-suggestions-track {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.sidebar-suggestions-track a {
color: #333;
}
.sidebar-suggestions-tracks {
background: url('images/icons/tracks_small.png') no-repeat center left;
background-size: 12px;
padding: 0 20px 0 15px;
float: left;
color: #8A8A8a;
}
.sidebar-suggestions-followers {
background: url('images/icons/followers.png') no-repeat center left;
background-size: 14px;
padding: 0 20px 0 17px;
float: left;
color: #8A8A8a;
}
.sidebar-link img {
vertical-align: middle;
margin-right: 7px;
height: 20px;
width: 20px;
margin-top: -3px;
}
.sidebar-link a {
padding: 17px 16px;
display: block;
text-decoration: none;
color: #8A8A8A;
}
.sidebar-link a:hover {
background: #f7f7f7;
color: #666;
}
.sidebar-link-divider {
padding: 0 16px;
}
.sidebar-report a {
color: #999;
font-size: 12px;
text-decoration: none;
}
.sidebar-report a:hover {
color: #333;
}
.sidebar-tag a {
background: #EEE;
color: #8A8A8A;
padding: 5px;
float: left;
margin: 0 20px 20px 0;
text-decoration: none;
}
.sidebar-tag a:hover {
background: #DDD;
color: #666;
}
.sidebar-stats-container {
padding: 0px 20px 20px;
font-size: 10px;
font-weight: bold;
color: #777;
overflow: auto;
}
.sidebar-stats-box {
width: 50%;
float: left;
padding-top: 6.5px;
text-transform: uppercase;
}
.sidebar-stats-today {
color: #FE4646;
}
.sidebar-text-right {
text-align: right;
font-size: 20px;
font-weight: normal;
padding: 0;
height: 28px;
}
.sidebar-stats-box-right {
text-align: right;
}
.upload-status-bar, .sidebar-stats-bar {
margin-top: 13px;
height: 6px;
width: 100%;
overflow: hidden;
background: #DBDBDB;
float: left;}
.upload-status-bar {
margin-top: 11px;
}
.sidebar-stats-divider {
margin-top: 13px;
float: left;
}
.upload-status-bar-percentage, .sidebar-stats-bar-percentage {
background-color: #ff1844;
height: 6px;}
.upload-text {
font-size: 11px;
font-weight: bold;
color: #777;
overflow: auto;
text-transform: uppercase;
}
.sidebar-users {
cursor: pointer;
}
.sidebar-users img {
vertical-align: middle;
margin-right: 7px;
}
img.sidebar-status-icon {
height: 25px;
width: 12px;
}
.sidebar-users a {
margin-top: -1px;
padding: 10px 20px;
border-top: 1px solid #DBDBDB;
display: block;
text-decoration: none;
color: #898F9C;
}
.sidebar-users a:hover {
background: #f1f1f1;
color: #666;
}
.sidebar-link-active a, .sidebar-link-active a:hover {
background: #f1f1f1;
color: #666;
}
.sidebar-link-active a, .sidebar-link-active a:hover {
background: #f7f7f7;
color: #666;
}
.sidebar-online-users {
float: left;
width: 25%;
}
.sidebar-online-users a {
text-decoration: none;
}
.sidebar-online-users img {
width: 100%;
border-radius: 5px;
}
.sidebar-online-users-padding {
padding: 0 10px 10px 0;
}
.sidebar-online-users-inner {
overflow: auto;
padding: 0 10px 10px 20px;
}
.plus-button {
overflow: auto;
background: #FFF;
border-radius: 5px;
border: 2px solid #BBB;
color: #BBB;
text-align: center;
line-height: 40px;
height: 42px;
font-size: 14px;
font-weight: bold;
overflow: hidden;
}
.plus-sign {
margin-left: -5px;
}
.plus-button:hover {
color: #fff;
background: #BBB;
}
.sidebar-chat-list {
max-height: 456px;
overflow: auto;
}
.sidebar-header input {
outline: 0;
border: 1px solid #FFF;
background: url('images/icons/search.png') no-repeat top right;
background-size: 12px;
width: 100%;
margin: 0;
padding: 0;
height: 16px;
}
.sidebar-divider {
height:1px;
width: 100%;
background: #DBDBDB;
float: left;
}
.sidebar-list {
margin-top: -1px;
padding: 7px 10px;
border-top: 1px solid #DBDBDB;
font-size: 12px;
}
.sidebar-list img {
width: 20px;
height: 20px;
margin-left: 3px;
vertical-align: middle;
}
.sidebar-description {
padding: 20px;
padding-top: 0;
word-wrap: break-word;
}
.sidebar-license {
margin-top: 3px;
}
.sidebar-social-container {
overflow: auto;
padding: 10px 10px 0 20px;
}
.social-icon {
width: 100%;
border-radius: 3px;
height: 34px;
}
.share-social-icon {
height: 34px;
width: 34px;
border-radius: 3px;
}
.website-icon {
background: #EEE url('images/icons/social/website.png') center center no-repeat;
background-size: 16px;
}
.website-icon:hover {
background: #888 url('images/icons/social/website_h.png') center center no-repeat;
background-size: 16px;
}
.facebook-icon {
background: #EEE url('images/icons/social/facebook.png') center center no-repeat;
background-size: 18px;
}
.facebook-icon:hover {
background: #3b579d url('images/icons/social/facebook_h.png') center center no-repeat;
background-size: 18px;
}
.twitter-icon {
background: #EEE url('images/icons/social/twitter.png') center center no-repeat;
background-size: 20px;
}
.twitter-icon:hover {
background: #55acee url('images/icons/social/twitter_h.png') center center no-repeat;
background-size: 20px;
}
.gplus-icon {
background: #EEE url('images/icons/social/gplus.png') center center no-repeat;
background-size: 18px;
}
.gplus-icon:hover {
background: #DD4B39 url('images/icons/social/gplus_h.png') center center no-repeat;
background-size: 18px;
}
.youtube-icon {
background: #EEE url('images/icons/social/youtube.png') center center no-repeat;
background-size: 18px;
}
.youtube-icon:hover {
background: #CC201F url('images/icons/social/youtube_h.png') center center no-repeat;
background-size: 18px;
}
.vimeo-icon {
background: #EEE url('images/icons/social/vimeo.png') center center no-repeat;
background-size: 18px;
}
.vimeo-icon:hover {
background: #1ab7ea url('images/icons/social/vimeo_h.png') center center no-repeat;
background-size: 18px;
}
.soundcloud-icon {
background: #EEE url('images/icons/social/soundcloud.png') center center no-repeat;
background-size: 18px;
}
.soundcloud-icon:hover {
background: #F7640F url('images/icons/social/soundcloud_h.png') center center no-repeat;
background-size: 18px;
}
.lastfm-icon {
background: #EEE url('images/icons/social/lastfm.png') center center no-repeat;
background-size: 18px;
}
.lastfm-icon:hover {
background: #D00A01 url('images/icons/social/lastfm_h.png') center center no-repeat;
background-size: 18px;
}
.tumblr-icon {
background: #EEE url('images/icons/social/tumblr.png') center center no-repeat;
background-size: 18px;
}
.tumblr-icon:hover {
background: #37465d url('images/icons/social/tumblr_h.png') center center no-repeat;
background-size: 18px;
}
.myspace-icon {
background: #EEE url('images/icons/social/myspace.png') center center no-repeat;
background-size: 18px;
}
.myspace-icon:hover {
background: #018CDD url('images/icons/social/myspace_h.png') center center no-repeat;
background-size: 18px;
}
.pinterest-icon {
background: #EEE url('images/icons/social/pinterest.png') center center no-repeat;
background-size: 18px;
}
.pinterest-icon:hover {
background: #D0383F url('images/icons/social/pinterest_h.png') center center no-repeat;
background-size: 18px;
}
.email-icon {
background: #EEE url('images/icons/social/email.png') center center no-repeat;
background-size: 18px;
}
.email-icon:hover {
background: #666 url('images/icons/social/email_h.png') center center no-repeat;
background-size: 18px;
}
.social-icon-container {
width: 20%;
float: left;
margin-bottom: 10px;
}
.social-icon-padding {
padding: 0 10px 10px 0;
}
.share-icon-container {
float: left;
}
.share-icon-container a {
cursor: pointer;
}
.share-icon-container .social-icon-padding {
padding: 0 10px 0 0;
}
.sidebar-social img {
margin-right: 3px;
width: 16px;
height: 16px;
vertical-align: top;
font-size: 12px;
}
.sidebar-list a {
color: #6B6B6B;
}
.sidebar-avatar {
width: 50px;
float: left;
}
.sidebar-avatar img {
border-radius: 3px;
}
.sidebar-avatar-desc {
height: 42px;
margin-left: 60px;
padding-top: 8px;
font-size: 12px;
}
.sidebar-avatar-edit a {
font-size: 12px;
color: #666;
font-weight: normal;
}
#main-content {
padding: 0 20px 0 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin-top: 0;
}
.page-header {
padding: 23px 0px;
font-size: 21px;
text-transform: uppercase;
color: #757575;
}
.page-header-extra {

}
.message-form-private {
float: right;
}
.private-profile-content {
color: #6B6B6B;
overflow: auto;
}
.selected-files {
border-bottom: 1px solid #DBDBDB;
padding: 5px 10px;
display: none;
color: #a9a9a9;
}
.header-loader {
float: right;
}
.chat-container {
height: 410px;
padding: 0 0 0 20px;
overflow: auto;
}
.chat-form-inner {

}
.chat-form-inner input {
border: 0;
outline: 0;
width: 100%;
resize: none;
padding: 15px 20px;
max-width: 100%;
overflow: hidden;
border-radius: 5px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.chat-error {
padding: 10px 0;
}
textarea {
width: 100%;
max-width: 500px;
height:100px;
box-sizing: border-box;
}
.logo {
height: 45px;
width: 54px;
float: left;
margin: 5px 10px 5px 0;
background: url('images/logo.png') no-repeat;
background-size: 54px 45px;
}
.info {
border: 1px solid #38A8FF;
background: #BEDBFF;
border-radius: 3px;
color: #2A4E9B;
width: 91%;
padding: 5px 7px;
}
.page-settings-container {
margin: 0 20px 30px 0;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.page-settings-container .page-header {
padding-left: 20px;
padding-right: 20px;
}

#uploadForm {
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
background: white;
}

.page-login-container {
border-left: 1px solid #DDD;
border-right: 1px solid #DDD;
}
.page-container {
padding: 0 0 10px 0;
}
.page-content {
background: #fff;
color: #6B6B6B;
overflow: auto;
}
.page-inner {
padding: 10px 20px;
overflow: auto;
}
.page-input-container {
width: 100%;
overflow: auto;
padding: 10px 0;
}
.page-input-container input, .page-input-container select, .page-input-container textarea {
padding: 6px 8px;
border: 0;
border-bottom: 1px solid #BFBFBF;
outline: none;
margin: 0;
}
.page-input-container input:hover, .page-input-container select:hover, .page-input-container textarea:hover {
    border-color: #ff1844;
    border-bottom-width: 2px;
    padding-bottom: 5px;
}
.page-input-container input:focus, .page-input-container select:focus, .page-input-container textarea:focus  {
    border-color: #ff1844;
    border-bottom-width: 2px;
    padding-bottom: 5px;
}
.page-input-container input[type="submit"] {
margin-top: 0;
border: none;
padding-bottom: 0;
padding-top: 0;
}
.page-input-container input[type="file"] {
border: 1px solid #ccc;
border-radius: 3px;
padding: 5px;
}
.page-input-container input[type="file"]:hover {
border: 1px solid #AAA;
}
.page-input-content {
width: 100%;
padding-left: 95px;
box-sizing: border-box;
}
.page-input-left {
padding-left: 0;
}
.page-input-title, .page-input-title-img {
text-align: right;
width: 15%;
min-width: 85px;
margin-right: 20px;
margin-top: 4px;
display: inline-block;
vertical-align: top;
float: left;
color: #444;
}
.page-input-title-img img {
border-radius: 3px;
margin-top: 5px;
}
.page-input-sub {
color: #666;
font-size: 10px;
padding-top: 6px;
}
.report-checkbox {
padding-bottom: 10px;
max-width: 500px;
}
.report-checkbox textarea {
min-height:100px;
}
.report-checkbox input {
float: left;
}
.report-checkbox label {
padding-left: 5px;
}
.page-title {
font-size: 18px;
}
.page-input-title-img-wall {
width: 100%;
}
.page-input-title-img-wall img {
width: 100%;
}
.stats-boxes-container {
overflow: auto;
width: 100%;
padding-bottom: 10px;
}
.container-short {
overflow: auto;
}
.container {
padding: 15px 0;
overflow: auto;
width: 100%;
float: left;
}
.chart-container {
padding-left: 15px;
}
.chart img {
width: 100%;
}
.preloader {
padding: 10px 0;
width: 36px;
height: 36px;
margin: 0 auto;
}
.preloader-normal {
width: 110px;
height: 10px;
}
.preloader-dark {
width: 110px;
height: 10px;
background: url('images/preloader_dark.gif');
}
.preloader-retina {
width: 85px;
height: 20px;
background: url('images/preloader.gif');
background-size: 100% auto;
}
.preloader-retina-large {
width: 110px;
height: 30px;
background: url('images/preloader.gif');
background-size: 100% auto;
}
.preloader-center {
margin: 0 auto;
}
.preloader-left {
display: inline-block;
}
.retrieving-results {
display: inline;
}
.footer {
padding: 30px 0 55px;
}
.footer-container {
font-size: 13px;
color: #919191;
padding: 10px 0;
}
.footer-links, .footer-languages {
padding-bottom: 5px;
}
.footer-links a, .footer-languages a {
color: #7E7E7E;
}
.footer-links a:hover, .footer-languages a:hover {
color: #444;
}
.pages-content {
padding: 20px;
}
.text-inputs {
padding: 3px 0;
}
.ads1 {
margin-top: 10px;
width: 100%;
height: auto;
float: left;
}
.info-message {
width: 100%;
text-align: center;
padding: 20px 0;
font-size: 16px;
}
.error {
padding: 5px;
border: 1px solid #cc0000;
background: #ffc0cf;
color: #b40a34;
border-radius: 3px;
margin: 0 0 10px 0;
}
.theme-content {
color: #999;
width: 100%;
float: left;
}
.theme-inner {
padding: 10px 0;
}
.theme-icon {
width: 60px;
float: left;
overflow: auto;
}
.theme-icon img {
border-radius: 3px;
width: 60px;
}
.theme-top {
padding: 5px 0 5px 70px;
}
.forgot-password {
padding-top: 4px;
float: right;
font-size: 12px;
}
.forgot-password a {
color: #AAA;
}
.forgot-password a:hover {
color: #666;
}
.register-captcha img {
width: 75px;
height: 30px;
float: right;
}
.welcome-content {
background: #fff;
border: 0;
padding: 50px 0;
}
.welcome-full {
padding: 25px 0;
width: 100%;
border-top: 1px solid #DDD;
border-bottom: 1px solid #DDD;
}
.welcome-pro {
padding: 25px 0;
border-top: 1px solid #DDD;
}
.welcome-inner {
overflow: auto;
padding: 100px 20px;
}
#welcome-listeners, #welcome-creators {
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.welcome-features {
    margin-bottom: -30px;
}
.welcome-track {
width: 10%;
float: left;
}
.welcome-track:hover {
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.welcome-track a {
float: left;
overflow: hidden;
}
.welcome-track img {
width: 100%;
vertical-align: middle;
}
.welcome-message {
width: 100%;
color: #FFF;
margin: 50px 0;
text-align: center;
}
.welcome-title {
font-weight: normal;
font-size: 48px;
}
.welcome-desc {
font-weight: lighter;
font-size: 20px;
padding-top: 10px;
}
.welcome-button {
margin: 50px auto 50px auto;
width: 200px;
text-transform: uppercase;
}
.welcome-button a {
border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    margin: 9.5px 0;
    line-height: 36px;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    color: white;
    background: #ff1844;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.welcome-button a:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.welcome-learn {
font-size: 14px;
text-align: center;
color: white;
position: absolute;
bottom: 20px;
left: 50%;
margin-left: -35px;
}
.welcome-arrow {
padding: 0 0 40px 0;
background: url('images/downarrow_large.png') center bottom no-repeat;
background-size: 25px;
width: 25px;
margin: 0 auto;
cursor: pointer;
}
.welcome-bar {
border-bottom: 1px solid #DDD;
padding: 20px 0;
background: #fff;
}
.welcome-menu {
text-align: center;
font-size: 15px;
}
.welcome-menu a {
margin: 0 20px 0 0;
}
.welcome-box {
box-sizing: border-box;
padding: 20px 20px 0 0;
}
.welcome-box-section {
color: #FF6060;
font-size: 20px;
}
.welcome-centered-text {
text-align: center;
}
.welcome-full-section {
color: black;
font-size: 32px;
margin-bottom: 20px;
margin-top: 50px;
}
.welcome-box-title {
font-size: 20px;
}
.welcome-box-desc {
padding: 10px 0 0 0;
font-size: 16px;
color: #666;
}
.notification-box {
padding: 5px 10px 10px 10px;
border: 0px solid;
position: relative;
margin: 10px 20px 0 20px;
color: #fff;
border-radius: 3px;

display: flex;
justify-content: center;
align-items: center;
font-family: roboto;
}
.notification-box a {
color: #FFF;
}
.notification-box a:hover {
color: #F6F6F6;
}
.notification-box-modal {
margin: 10px 10px 0 10px;
}
.notification-box h5 {
font-size: 20px;
margin: 0;
}
.notification-box-error {
background-color: #F44336;
}
.notification-box-success {
background: #69F0AE;
}
.notification-box-info {
background: #BBDEFB;
}
.notification-box > p {
padding-top: 5px;
padding-right: 20px;
margin: 0;
}
.notification-close {
padding: 5px 4px;
position: absolute;
right: 0;
top: 5px;
background: url(images/icons/close_h.png) no-repeat center left;
background-size: 17px;
width: 17px;
height: 17px;
cursor: pointer;
opacity: 0.75;
}
.notification-close:hover {
opacity: 1;
}
.notification-container {
max-width: 1120px;
width: 100%;
margin: 0 auto;
display: none;
top: -45px;
color: #AAA;
padding: 0 10px;
box-sizing: border-box;
position: relative;
}
.notification-content {
background: #fff;
max-width: 350px;
width: 100%;
float: right;
transition: all .4s cubic-bezier(.25,.8,.25,1);
transition-duration: 150ms;
box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.notification-content a {
color: rgba(0,0,0,0.87);
text-decoration: none;
}
.notification-content a:hover {
color: #ff1844;
}
.notification-inner {
padding: 14px 16px;
}
.notification-container .notification-row {
float: left;
width: 100%;
border-right: 0;
}
.notification-row {
float: left;
width: 100%;
border-top: 1px solid #DBDBDB;
border-right: 1px solid #DBDBDB;
}
.notification-image {
float: left;
}
.notification-text {
padding-left: 39px;
}
.notification-text img {
vertical-align: bottom;
width: 15px;
height: 15px;
}
.notification-text .chat-snippet {
font-style: italic;
word-wrap: break-word;
}
.notification-container .notification-unread {
background: #fff;
}
.notification-unread {
background: #F1F1F1;
}
.notification-container .notification-padding {
    padding: 20px;
overflow: auto;
}
.notification-padding {
padding: 10px 20px;
overflow: auto;
}
#notifications-content .timeago {
float: none;
}
#notifications-content .timeago:hover {
text-decoration: none;
color: #999;
cursor: default;
}
#notifications-content img.notifications {
height: 33px;
width: 33px;
border-radius: 50%;
margin-right: 20px;
}
#notifications-content {
max-height: 435px;
overflow: auto;
}
#notifications-page .timeago {
float: none;
}
#notifications-page .timeago:hover {
text-decoration: none;
}
#notifications-page img.notifications {
height: 33px;
width: 33px;
border-radius: 3px;
margin-right: 5px;
}
.sidebar-button-container {
width: 100%;
}
.sidebar-button-container a {
text-decoration: none;
}
.edit-button, .back-button {
margin: 0 0 10px 0;
height: 50px;
border-radius: 5px;
text-align: center;
line-height: 48px;
color: #fff;
color: rgba(255,255,255,0.87);
cursor: pointer;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
background: #448AFF;
}
.edit-icon {
background: url('images/icons/edit_n.png') no-repeat;
background-size: 20px;
width: 32px;
padding: 0 15px 10px 15px;
margin-left: -10px;
}
.edit-button:hover, .back-button:hover {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.edit-button:hover .edit-icon {
background-size: 20px;
width: 32px;
padding: 0 15px 10px 15px;
margin-left: -10px;
}
.back-icon {
background: url('images/icons/back_h.png') no-repeat;
background-size: 20px;
width: 32px;
padding: 0 15px 10px 15px;
margin-left: -10px;
}
.back-button:hover {
color: #FFF;
}
.back-button:hover .back-icon {
background: url('images/icons/back_h.png') no-repeat;
background-size: 20px;
width: 32px;
padding: 0 15px 10px 15px;
margin-left: -10px;
}
.upload-button {
background: #ff1844;
height: 50px;
border-radius: 5px;
text-align: center;
line-height: 48px;
color: #fff;
color: rgba(255,255,255,0.87);
cursor: pointer;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.upload-button:hover,
.upload-button:hover {
background: #ff3d62;
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.upload-icon {
background: url('images/icons/upload_n.png') no-repeat;
background-size: 22px;
width: 32px;
padding: 0 20px 10px 15px;
margin-left: -10px;
}
.upload-button:hover .upload-icon {
background-size: 22px;
width: 32px;
padding: 0 20px 10px 15px;
margin-left: -10px;
}
.success-icon {
background: url('images/icons/success_n.png') no-repeat;
background-size: 22px;
width: 32px;
padding: 0 20px 10px 15px;
margin-left: -10px;
}
.edit-button:hover .success-icon {
background: url('images/icons/success_h.png') no-repeat;
background-size: 22px;
width: 32px;
padding: 0 20px 10px 15px;
margin-left: -10px;
}
.sidebar-fa-image {
float: left;
}
.sidebar-fa-image img {
width: 30px;
height: 30px;
border-radius: 3px;
}
.sidebar-fa-text {
font-size: 12px;
padding-left: 37px;
}
.sidebar-fa-text .timeago {
float: none;
display: inline-block;
}
.sidebar-fa-content {
max-height: 336px;
overflow: auto;
}
.sidebar-fa-content a {
color: #666;
}
.sidebar-fa-content .notification-row {
border: 0;
}
.sidebar-fa-content .notification-padding {
padding: 10px 20px;
}
.sidebar-fa-content .notification-padding:last-child {
	margin-bottom: 10px;
}
.input_hidden {
position: absolute;
left: -9999px;
}
.selected {
background-color: #DFDFDF;
}
#values {
float: left;
}
#values label {
display: inline-block;
cursor: pointer;
}
#values label:hover {
background-color: #efefef;
}

#values label img {
padding: 7px 5px 6px 5px;
width: 24px;
height: 24px;
}
.button-image {
width: 34px;
height: 40px;
background-image: url('images/icons/events/camera.html');
background-repeat: no-repeat;
background-position: 50% 35%;
overflow: hidden;
float: left;
cursor: pointer;
margin-right: 4px;
background-size: 24px;
}
.button-image:hover {
background-color: #efefef;
}
.inputImage {
opacity: 0.0;
height: 40px;
cursor: pointer;
width: 33px; /* Move it to the left so that the cursor: pointer gets active (it sends the Choose file outside of the view) */
}

#notifications_btn, #messages_btn {
cursor: pointer;
width: 16px;
}
.notificatons-number-container {
float: left;
margin-right: 5px;
}
.admin-notifications-number {
background: #FF3434;
padding: 3px 5px;
border-radius: 3px;
font-weight: normal;
color: #FFF;
font-size: 10px;
margin-left: 3px;
}
.notifications-number {
background: #FF3434;
border-radius: 3px;
padding: 2px 3px;
font-size: 10px;
position: absolute;
margin: -30px 0 0 9px;
color: #fff;
}
#more_users, #more_reports, #more_payments {
width: 100%;
float: left;
padding: 15px 0 5px 0;
}
#share, #playlist, #delete, #connect {
position:fixed;
z-index: 1001;  
top:50%;  
left:50%;  
margin:-150px 0 0 -150px;  
width: 300px;
display: none;
}
#playlists {
max-height: 138px;
}
.modal-input input {
border-bottom: 1px solid #BFBFBF;
width: 100%;
box-sizing: border-box;
-webkit-appearance: none;
outline: 0;
display: block;
margin-top: 0;
background: 0 0;
padding: 2px 2px 1px;
border-width: 0 0 1px;
line-height: 26px;
height: 30px;
-ms-flex-preferred-size: 26px;
border-radius: 0;
border-style: solid;
width: 100%;
box-sizing: border-box;
}
.modal-input input:focus {
border-color: #ff1844;
border-bottom-width: 2px;
padding-bottom: 0;
}
.modal-checkbox input {
margin: 5px 5px 0 0;
float: left;
}
.modal-checkbox label {
margin-top: 2px;
float: left;
}
.modal-connect input {
margin: 0 0 7px 0;
}
.modal-captcha {
display: inline-block;
}
.modal-captcha input {
width: 195px;
}
.modal-background {
width: 100%;
height: 100%;
background-color: rgba(33,33,33,.48);
position: fixed;
overflow: auto;
left: 0;
top: 0;
display: none;
z-index: 1000;
}
.modal-container {
background: #fff;
min-width: 300px;
width: 100%;
max-width: 80%;
max-height: 80%;
border-radius: 3px;
box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
overflow: auto;
z-index: 1001;
}
.modal-inner {
padding: 10px;
overflow: auto;
width: 100%;
box-sizing: border-box;
}
.modal-menu-container {
padding: 10px 10px 0 10px;
overflow: auto;
}
.modal-menu-item {
color: #777;
padding: 10px 10px 13px;
float: left;
margin-top: -10px;
cursor: pointer;

font-size: 14px;
text-align: center;
line-height: 24px;
padding: 12px 20px;
transition: background-color .35s cubic-bezier(.35,0,.25,1);
white-space: nowrap;
position: relative;
text-transform: uppercase;
float: left;
font-weight: 500;
box-sizing: border-box;
overflow: hidden;
text-overflow: ellipsis;
}
.modal-menu-item:first-child {
margin-left: -10px;
}
.modal-menu-item:hover, .modal-menu-item-active {
color: #777;
padding: 12px 20px;
border-bottom: 3px solid #ff1844;
cursor: pointer;
}
.modal-loading, .header-loader {
width: 100px;
height: 35px;
background: url('images/preloader.gif') no-repeat center center;
background-size: 100% auto;
float: right;
display: none;
}
.modal-desc {
padding: 0 0 5px 0;
color: #666;
}
.modal-desc img {
width: 85px;
}
.modal-btn {
margin: 10px 10px 10px 0;
overflow: auto;
float: right;
}
.modal-btn a {
    float: right;
	border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    line-height: 36px;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    color: #ff1844;
}
.modal-btn a:hover {
color: #AAA;
}
.modal-btn a:active {
background: #888;
color: #FFF;
}
.modal-btn-active a {
color: #ff1844;
}
.modal-btn-active a:hover {
background-color: #DBDBDB;
background-color: rgba(158,158,158,0.2);
color: #ff1844;
}
.modal-btn-enable a {
color: #27AE60;
border-color: #27AE60;
}
.modal-btn-enable a:hover {
border-color: #27AE60;
background: #27AE60;
color: #FFF;
}
.modal-btn-facebook a {
color: #3B579D;
border-color: #3B579D;
}
.modal-btn-facebook a:hover {
border-color: #3B579D;
background: #3B579D;
color: #FFF;
}
.tab-share, .tab-embed, .tab-login, .tab-register {
display: none;
}
.tab-delete {
padding: 5px 0;
width: 100%;
}
.dummy-player {
width: 100%;
padding-bottom: 10px;
overflow: auto;
}
.dummy-artwork {
float: left;
}
.dummy-artwork img {
width: 50px;
}
.dummy-play-btn {
float: left;
background: url("images/player.png") 0 0 no-repeat;
background-size: 60px;
height: 20px;
width: 20px;
margin-left: 10px;
}
.dummy-author {
float: left;
width: 80px;
height: 7px;
background: #d9d9d9;
margin: 0 0 4px 6px;
}
.dummy-title {
float: left;
width: 140px;
height: 9px;
background: #c2c2c2;
margin: 0 0 0 6px;
}
.dummy-seek {
float: left;
width: 220px;
height: 3px;
background: #c2c2c2;
margin: 7px 0 0 10px;
}
.dummy-avatars {
float: left;
width: 10px;
height: 10px;
background: #c2c2c2;
margin: 10px 0 0 10px;
}
.playlist-entry {
padding: 5px 8px 5px 26px;
margin: 0 0 5px 0;
border: 1px solid #DDD;
width: 100%;
box-sizing: border-box;
float: left;
display: inline;
border-radius: 3px;
cursor: pointer;
background: url('images/icons/playlist_add_n.png') 5px center no-repeat;
background-size: 17px;
color: #777777;
font-size: 12px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.playlist-entry:hover {
background: #EFEFEF url('images/icons/playlist_add_h.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.playlist-entry-loading {
padding: 5px 8px 5px 26px;
margin: 0 0 5px 0;
border: 1px solid #DDD;
width: 100%;
box-sizing: border-box;
float: left;
display: inline;
border-radius: 3px;
cursor: pointer;
color: #777777;
font-size: 12px;
background: url('images/loader.gif') 5px center no-repeat;
background-size: 17px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.playlist-added {
background: url('images/icons/playlist_added.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
.playlist-added:hover {
background: #EFEFEF url('images/icons/playlist_remove.png') 5px center no-repeat;
background-size: 17px;
color: #000;
}
input.playlist-input {
-webkit-appearance: none;
padding: 5px 8px;
min-width: 100px;
float: left;
}
input.playlist-input:focus, input.playlist-input:hover {
border: 1px solid #AAA;
}
.playlist-save {
color: #BFBFBF;
font-weight: bold;
padding: 5px 10px;
margin-left: 10px;
float: left;
box-sizing: border-box;
overflow: hidden;
}
.playlist-save:hover {
border-color: #AAA;
color: #AAA;
}
.playlist-save:active {
background: #888;
border-color: #888;
color: #FFF;
}
#profile-card {
background: #fff;
width: 300px;
margin: 0 auto;
position: absolute;
display: none;
z-index: 999;
box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
#profile-card .preloader-retina {
margin-bottom: 10px;
}
.profile-card-padding {
padding: 20px 10px 10px 10px;
}
.profile-card-cover img {
width: 100%;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
.profile-card-avatar {
margin: 0;
position: absolute;
top: 20px;
left: 20px;
}
.profile-card-avatar a {
height: 60px;
width: 60px;
}
.profile-card-avatar img {
border: 2px solid #fff;
-webkit-border-radius: 50%;
border-radius: 50%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
height: 60px;
width: 60px;
}
.profile-card-info {
margin: 0;
position: absolute;
top: 20px;
left: 100px;
}
.profile-card-info .cover-text-container {
font-size: 18px;
font-weight: 500;
color: #FFF;
position: relative;
margin: 0;
top: 0;
}
.profile-card-buttons {
overflow: auto;
right: 0;
padding: 10px 10px 10px 10px;
}
.profile-card-buttons .sub-loading {
border: 1px solid #DDD;
}
.profile-card-buttons .sub-loading {
border: 1px solid #DDD;
}
.profile-card-buttons-container {
width: 60px;
float: right;
}
.profile-card-stats {
float: left;
font-size: 15px;
color: #666;
margin: 3px 15px 0 3px;
vertical-align: top;
}
.profile-card-stats img {
margin-right: 5px;
vertical-align: bottom;
cursor: pointer;
}
.profile-card-stats a {
color: #666;
text-decoration: none;
}
.profile-card-username {
overflow: auto;
float: left;
padding-top: 10px;
}
.profile-card-username img {
width: 13px;
height: 13px;
}
.profile-card-location {
overflow: auto;
color: #FFF;
float: left;
min-width: 180px;
}
.track-likes {
padding: 7px 0 4px 0;
}
.likes-plus {
background: url('images/icons/likes_plus.png') no-repeat;
background-size: 25px;
overflow: auto;
width: 25px;
height: 25px;
display: inline-block;
}
.track-stats {
float: right;
padding-top: 10px;
}
.track-buttons-container {
font-size: 12px;
float: left;
margin-left: -6px;
}
a.menu-button {
float: left;
text-decoration: none;
color: #c6c6c6;
margin: 0;
padding: 19px 16px 16px;
text-transform: uppercase;
}
a.menu-button:hover {
color: #fff;
border-bottom: 3px solid #ff1844;
padding-bottom: 18px;
}
a.menu-button-active {
color: #fff;
border-bottom: 3px solid #ff1844;
padding-bottom: 18px;
}
#track-upload {
    background: #fff;
    color: #6B6B6B;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow .5s;
}
#track-upload:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
#topbar-track-info {
padding: 10px 20px;
overflow: auto;
}
#topbar-artwork {
top: 10px;
width: 35px;
height: 35px;
float: right;
}
#topbar-artwork img {
width: 35px;
height: 35px;
}
#topbar-track-details {
margin-right: 45px;
box-sizing: border-box;
text-align: right;
}
.topbar-song-name {
font-size: 12px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.topbar-author-name {
font-size: 10px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.topbar-author-name a {
color: #8D8D8D;
}
.topbar-author-name a:hover {
color: #FFF;
}
#loading-bar {
position: fixed;
z-index: 2147483647;
top: 0;
left: -6px;
width: 0;
height: 3px;
background: #ff1844;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
-moz-transition: width 500ms ease-out,opacity 400ms linear;
-ms-transition: width 500ms ease-out,opacity 400ms linear;
-o-transition: width 500ms ease-out,opacity 400ms linear;
-webkit-transition: width 500ms ease-out,opacity 400ms linear;
transition: width 500ms ease-out,opacity 400ms linear;
}
#loading-bar dd, dt {
position: absolute;
box-shadow: #fe4646 1px 0 6px 1px;
}
#loading-bar dd {
opacity: .6;
width: 20px;
right: 0;
clip: rect(-6px,22px,14px,10px);
}
#loading-bar dt {
opacity: .6;
width: 180px;
right: -80px;
clip: rect(-6px,90px,14px,-6px);
}
#content {
background: #f6f6f6;
padding-bottom: 30px;
padding-top: 30px;
}
.body-content {
overflow: visible;
}
.song-container {
overflow: auto;
padding: 20px 20px 10px;
margin: 0 0 20px 0;
transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
background: #fff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.song-container:hover {
box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.song-container-page {
border-bottom: none;
}
.song-container-page.song-container {
	padding-bottom: 20px;
}
.song-container a, .embed-container a {
text-decoration: none;
}
.song-top {
padding: 0 0 0 132px;
min-height: 38px;
}
.song-play-btn {
width: 35px;
height: 35px;
float: left;
/*background: url('images/player.png') no-repeat 0 0;
background-size: 105px;*/
background: url(images/player.png) no-repeat -35px 0;
background-size: 105px;
cursor: pointer;
text-indent: -9999px;
}
.song-play-btn:hover {
background: url('images/player.png') no-repeat -35px 0;
background-size: 105px;
}
.player-controls a.jp-play, .player-controls a.jp-pause {
	width:35px;
	height:35px;
	outline: 0;
	text-indent: -9999px;
	position: absolute;
	margin-top: -35px;
    left: 0;
    outline: 0;
    cursor: pointer;
}
.player-controls a.jp-play {
    background: url('images/player.png') no-repeat -70px 0;
	background-size: 105px;
}
.player-controls a.jp-play:hover {
	background: url('images/player.png') no-repeat -35px 0;
	background-size: 105px;
}
.player-controls a.jp-pause {
	background: url('images/player.png') no-repeat -70px -35px;
	background-size: 105px;
	display: none;
}
.player-controls a.jp-pause:hover {
	background: url('images/player.png') no-repeat -35px -35px;
	background-size: 105px;
}
.player-controls div.jp-audio div.jp-progress {
top: 15px;
}
.song-art {
float: left;
}
.song-art a {
float: left; /* Cover the whole image with anchor */
}
.song-titles {
padding: 0 0 0 45px;
}
.song-title {
font-size: 16px;
word-wrap: break-word;
}
.song-title a {
color: #212121;
}
.song-timeago {
overflow: auto;
float: right;
font-size: 12px;
}
.song-author {
font-size: 13px;
color: #868686;
}
.song-author a {
color: #757575;
}
.song-author a:hover {
color: #666;
}
.song-tag {
float: right;
font-size: 12px;
margin-top: 4px;
}
.song-tag a {
background: #EEE;
color: #8A8A8A;
padding: 3px 5px;
text-decoration: none;
}
.song-tag a:hover {
background: #DDD;
color: #666;
}
.song-container div.jp-audio div.jp-type-single div.jp-progress, .song-container div.jp-audio div.jp-type-single div.jp-time-holder, .embed-container div.jp-audio div.jp-type-single div.jp-progress, .embed-container div.jp-audio div.jp-type-single div.jp-time-holder {
left: 0;
width: 100%;
}
.song-container div.jp-audio, .embed-container div.jp-audio {
width: 100%;
}
.song-container .jp-audio, .embed-container .jp-audio {
display: block;
}
.player-controls {
padding: 0 0 10px 132px;
}
.song-container div.jp-audio div.jp-time-holder, .embed-container div.jp-audio div.jp-time-holder {
top: 20px;
}
.embed-container {
background: #FFF;
overflow: auto;
}
.embed-container .track-likes {
padding: 23px 0 0 0;
margin-bottom: 0;
}
.embed-powered-by {
overflow: auto;
float: right;
}
.embed-powered-by a {
color: #999;
}
.embed-powered-by a:hover {
color: #666;
}
.embed-error-title {
margin: 0 auto;
padding-top: 80px;
width: 250px;
text-align: center;
}
.embed-error-desc {
margin: 0 auto;
padding-top: 5px;
width: 250px;
text-align: center;
}
.embed-error a {
color: #FFF;
text-decoration: none;
}
.embed-error a:hover {
color: #F6F6F6;
}
.user-stats {
color: #444;
background: white;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.user-stats .edit-menu {
	margin-top: 0px;
}
	.user-stats .page-header {
		padding-left: 20px;
		padding-right: 20px;
	}
.stats-column-title {
font-weight: bold;
}
.user-stats-row {
padding: 10px 20px 0 0;
}
.user-stats-row-count {
width: 20px;
color: #999;
font-weight: bold;
display: block;
float: left;
}
.user-stats-title {
display: inline-block;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
width: 80%;
box-sizing: border-box;
padding-right: 5px;
}
.user-stats-title a {
text-decoration: none;
}
.user-stats-title img {
width: 17px;
height: 17px;
padding-right: 3px;
vertical-align: bottom;
}
.user-stats-count {
display: inline-block;
min-width: 25px;
text-align: right;
float: right;
font-weight: bold;
}
.small-info {
padding-top: 10px;
font-size: 12px;
color: #777;
width: 100%;
display: inline-block;
}
.track-info-container {
padding: 20px;
overflow: visible;
}
.track-info-art {
float: left;
width: 112px;
margin-bottom: 15px;
}
.track-info-inputs {
padding: 0 0 0 132px;
}
	.track-info-inputs input[type=submit]{
		margin-left: 0;
	}
.track-info-input {
padding: 0 0 15px 0;
overflow: auto;
}
.track-info-title {
float: left;
width: 100%;
color: rgba(0,0,0,0.54);
font-size: 13px;
}
.track-info-input input, .track-info-input textarea, .track-info-input select {
border-bottom: 1px solid #BFBFBF;
width: 100%;
box-sizing: border-box;
outline: 0;
display: block;
margin-top: 0;
background: 0 0;
padding: 2px 2px 1px;
border-width: 0 0 1px;
line-height: 26px;
min-height: 30px;
-ms-flex-preferred-size: 26px;
border-radius: 0;
border-style: solid;
width: 100%;
box-sizing: border-box;
}
.track-info-input input:hover, .track-info-input input:focus, .track-info-input textarea:hover, .track-info-input textarea:focus {
border-color: #ff1844;
    border-bottom-width: 2px;
    padding-bottom: 0;
}
.track-info-input select {
width: 100px;
display: block;
margin-right: 10px;
float:left;
}
.track-info-input input[type="radio"] {
width: auto;
margin: 0px 5px 10px 0;
float: left;
display: block;
border: 0;
min-height: 0px;
}
.track-info-radio, .license-container {
width: 100%;
margin-top: 5px;
float: left;
}
.license-container {
margin-top: 10px;
}
.license-box-container {
width: 50%;
overflow: auto;
float: left;
padding-right: 10px;
padding-bottom: 10px;
box-sizing: border-box;
}
.license-box-container:last-child {
padding-right: 0;
}
.license-box-content {
border: 1px solid #BFBFBF;
padding: 10px 10px 10px 35px;
background: url('images/icons/playlist_add_n.png') 10px 10px no-repeat;
background-size: 17px;
cursor: pointer;
border-radius: 5px;
}
.license-box-content:hover {
border: 1px solid #AAA;
background: url('images/icons/playlist_add_h.png') 10px 10px no-repeat;
background-size: 17px;
}
.license-box-active {
background: url('images/icons/playlist_added.png') 10px 10px no-repeat;
background-size: 17px;
}
.license-box-active:hover {
background: url('images/icons/playlist_remove.png') 10px 10px no-repeat;
background-size: 17px;
}
.license-box-title {
color: #666;
}
.license-box-desc {
color: #999;
font-size: 12px;
padding-top: 5px;
width: 100%;
overflow: auto;
}
.license-icon {
width: 15px;
height: 15px;
display: inline-block;
}
.license-cc-icon {
background: url('images/icons/license_cc.png') no-repeat;
background-size: 15px;
}
.license-at-icon {
background: url('images/icons/license_at.png') no-repeat;
background-size: 15px;
}
.license-nc-icon {
background: url('images/icons/license_nc.png') no-repeat;
background-size: 15px;
}
.license-nd-icon {
background: url('images/icons/license_nd.png') no-repeat;
background-size: 15px;
}
.license-sa-icon {
background: url('images/icons/license_sa.png') no-repeat;
background-size: 15px;
}
.edit-menu {
margin: -20px -20px 10px;
overflow: auto;
border-bottom: 1px solid #DBDBDB;
}
.edit-menu-item {
    color: #777;
    float: left;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    padding: 12px 20px;
    transition: background-color .35s cubic-bezier(.35,0,.25,1);
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    float: left;
    font-weight: 500;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit-menu-item:hover, .edit-menu-item-active {
color: #777;
border-bottom: 3px solid #FE4646;
cursor: pointer;
}
.required {
color: #FF6060;
}
.upload-btn {
float: left;
width: 100%;
box-sizing: border-box;
text-align: center;
cursor: pointer;
margin-top: 5px;
margin-left: 0;
margin-right: 0;
min-width: auto;
font-size: 13px;
padding: 0;
}
.upload-btn input {
width: 112px;
position: absolute;
left: 20px;
height: 30px;
margin-top: -6px; 
opacity: 0.0;
cursor: pointer;
}
.upload-btn input::-webkit-file-upload-button { cursor: pointer; }

.upload-btn-text {
float: left;
text-align: center;
width: 100%;
box-sizing: border-box;
}
#upload-success {
max-width: 300px;
color: #777;
margin: 0 auto;
}
.upload-title {
font-size: 18px;
text-align: center;
margin: 20px auto 0 auto;
}
.upload-desc {
font-size: 14px;
text-align: center;
margin: 20px auto;
}
.go-pro-widget-container {
color: #212121;
padding: 0 20px;
}
.go-pro-title {
font-weight: bold;
font-size: 14px;
}
.go-pro-widget-desc {
padding: 5px 0 0 0;
font-size: 13px;
line-height: 18px;
}
.go-pro-container {
padding-top: 30px;
text-align: center;
width: 100%;
overflow: auto;
}
.go-pro-welcome {
padding-top: 20px;
}
.go-pro-desc {
font-size: 15px;
max-width: 500px;
width: 100%;
margin: 0 auto;
}
.go-pro-btn {
min-height: 40px;
padding-top: 20px;
}
.go-pro-widget-btn {
min-height: 30px;
padding-top: 0;
text-align: center;
}
.go-pro-welcome-btn {
min-height: 30px;
padding-top: 25px;
}
.go-pro-go-pro-btn {
min-height: 0;
padding-top: 0;
display: inline-block;
}
.go-pro-btn a {
border-radius: 3px;
box-sizing: border-box;
color: currentColor;
position: relative;
outline: 0;
border: 0;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
padding: 8px 16px;
margin: 0 8px;
line-height: 36px;
min-height: 36px;
background: 0 0;
white-space: nowrap;
text-align: center;
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
font-style: inherit;
font-variant: inherit;
font-family: inherit;
text-decoration: none;
cursor: pointer;
overflow: hidden;
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1), background-color .4s cubic-bezier(.25,.8,.25,1), color .4s cubic-bezier(.25,.8,.25,1);
color: #ff1844;
}
.go-pro-btn a:hover {
background: #ff1844;
color: white;
}
.go-pro-btn a:active {
box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.go-pro-header {
background: url('images/background.html') bottom left;
color: #FFF;
padding: 30px 20px;
text-align: center;
}
.go-pro-header-title {
font-size: 24px;
}
.go-pro-header-desc {
font-size: 15px;
}
.current-plan {
padding: 10px 0 0 0;
font-size: 14px;
text-align: center;
}
.current-plan-option {
color: #777;
font-weight: bold;
text-transform: capitalize;
}
.plans-container {
width: 50%;
overflow: auto;
float: left;
}
.feature-container {
border-radius: 5px;
background: #EEE;
padding: 15px;
overflow: auto;
margin: 20px 20px 10px 20px;
font-size: 15px;
}
.feature-description {
margin: 10px 20px 20px 20px;
padding: 0 15px;
}
.feature-option {
width: 50%;
float: left;
}
.plan-option {
width: 25%;
float: left;
}
.plan-info {
width: 50%;
float: left;
}
.plan-history-title {
font-size: 15px;
margin: 20px 20px 10px 20px;
padding: 0 15px;
}
.plan-history-container {
margin: 0 20px 20px 20px;
padding: 15px;
}
.plan-history {
width: 25%;
float: left;
font-size: 13px;
}
.plan-option-free {
color: #FF4040;
}
.plan-option-pro {
color: #308D30;
font-weight: bold;
}
select.plan-options {
border: 0;
border-bottom: 1px solid #CCC;
padding: 6px 8px;
margin: 10px 5px 0 0;
}
select.plan-options:hover {
border-bottom-width: 2px;
border-bottom-color: #ff1844;
padding-bottom: 5px;
}
.player-element {
float: left;
margin-right: 10px;
}
.player-nine {
width: 75%;
float: left;
padding: 10px 0;
overflow: hidden;
height: 35px;
}
.player-nine a {
outline: 0;
margin-right: 10px;
cursor: pointer;
}
.player-three {
width: 25%;
float: left;
overflow: auto;
}
.player-container-left {
float: left;
width: 190px;
}
.player-container-middle {
padding: 0 141px 0 190px;
height: 35px;
}
.player-container-right {
float: right;
width: 126px;
margin-top: -35px;
}
#prev-button, #next-button {
float: left;
margin-right: 11px;
}
/* Start Player CSS */
div.jp-audio {
width: 100%;
float: left;
}
#content div.jp-audio {
float: none;
}

/* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */

div.jp-interface {
position: relative;
width:100%;
}

div.jp-audio div.jp-type-single div.jp-interface {
height:17px;
}
.player-nine .jp-interface {
height: 35px !important;
}
a.jp-play, a.jp-pause {
width: 35px;
height: 35px;
float: left;
margin-right: 16px;
}
a.jp-play {
background: url("images/player.png") 0 0 no-repeat;
background-size: 105px;
}
a.jp-play:hover {
background: url("images/player.png") -35px 0 no-repeat;
background-size: 105px;
}
a.jp-pause {
background: url("images/player.png") 0 -35px no-repeat;
display: none;
background-size: 105px;
}
a.jp-pause:hover {
background: url("images/player.png") -35px -35px no-repeat;
background-size: 105px;
}
/* @end */

/* @group progress bar */
div.jp-progress {
overflow:hidden;
background-color: #CCC;
}
div.jp-audio div.jp-progress {
position: absolute;
top: 15px;
height: 5px;
}
div.jp-audio div.jp-type-single div.jp-progress {
width: 100%;
margin: 0 15px 0 0;
top: 15px;
float: left;
position: relative;
}
.player-nine .jp-progress {
margin: 15px 0 0 0 !important;
top: 0 !important;
}
div.jp-seek-bar {
width:0px;
height:100%;
cursor: pointer;
background: #CCC;
}
div.jp-buffer-bar {
width:0px;
height:100%;
cursor: pointer;
background: #787777;
}
div.jp-play-bar {
width:0px;
height:100%;
background: #ff1844;
}
div.jp-audio {
font-size: 1.25em;
line-height: 1.6;
}
/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
}
/* @end */

/* @group volume controls */
a.jp-mute, a.jp-unmute, a.jp-volume-max {
width: 15px;
height: 35px;
float: left;
}
a.jp-mute {
background: url("images/player.png") 0 -175px no-repeat;
background-size: 105px;
}
a.jp-mute:hover {
background: url("images/player.png") -35px -175px no-repeat;
background-size: 105px;
}
a.jp-unmute {
background: url("images/player.png") -70px -175px no-repeat;
background-size: 105px;
display: none;
}
a.jp-unmute:hover {
background: url("images/player.png") -70px -175px no-repeat;
background-size: 105px;
}

div.jp-volume-bar {
overflow: hidden;
width: 46px;
height: 5px;
cursor: pointer;
margin-top: 15px;
float: left;
background: #CCC;
}
div.jp-audio div.jp-volume-bar {
top: 15px;
left: 405px;
}
div.jp-audio-stream div.jp-volume-bar {
top:37px;
left:92px;
}
div.jp-video div.jp-volume-bar {
top:17px;
left:72px;
}
div.jp-volume-bar-value {
width:0px;
height:5px;
background: #ff1844;
}
.prev-button {
background: url("images/player.png") 0 -70px no-repeat;
background-size: 105px;
width: 15px;
height: 35px;
cursor: pointer;
display: inline-block;
}
.prev-button:hover {
background: url("images/player.png") -35px -70px no-repeat;
background-size: 105px;
}
.prev-button-disabled, .prev-button-disabled:hover {
background: url("images/player.png") -70px -70px no-repeat;
background-size: 105px;
cursor: default;
}
.next-button {
background: url("images/player.png") 0 -105px no-repeat;
background-size: 105px;
width: 15px;
height: 35px;
cursor: pointer;
display: inline-block;
}
.next-button:hover {
background: url("images/player.png") -35px -105px no-repeat;
background-size: 105px;
}
.next-button-disabled, .next-button-disabled:hover {
background: url("images/player.png") -70px -105px no-repeat;
background-size: 105px;
cursor: default;
}
/* @end */

/* @group current time and duration */

div.jp-audio div.jp-time-holder {
position:absolute;
top: 18px;
display: none;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
left:185px;
width:186px;
}
div.jp-audio div.jp-type-playlist div.jp-time-holder {
left:166px;
width:130px;
}
div.jp-current-time, div.jp-duration {
width: 60px;
font-size: 9px;
}
#current-time, #duration-time {
width: 45px;
float: left;
height: 35px;
line-height: 35px;
font-size: 11px;
}
#current-time {
text-align: right;
margin-right: 15px;
}
#duration-time {
text-align: left;
margin-right: 10px;
}
div.jp-current-time {
float: left;
display:inline;
}
div.jp-duration {
float: right;
display:inline;
text-align: right;
}

/* @end */

div.jp-jplayer audio,
div.jp-jplayer {
width:0px;
height:0px;
}

div.jp-jplayer {
background-color: #000000;
}

a.jp-repeat {
background: url("images/player.png") 0 -140px no-repeat;
background-size: 105px;
float: left;
display: inline-block;
width: 15px;
height: 35px;
}

a.jp-repeat:hover {
background: url("images/player.png") -35px -140px no-repeat;
background-size: 105px;
}

a.jp-repeat-off {
background: url("images/player.png") -70px -140px no-repeat;
background-size: 105px;
float: left;
width: 15px;
height: 35px;
}

a.jp-repeat-off:hover {
background: url("images/player.png") -70px -140px no-repeat;
background-size: 105px;
}
/* @end */

/* @group NO SOLUTION error feedback */
.jp-no-solution {
padding:5px;
font-size:.8em;
background-color:#eee;
border:2px solid #009be3;
color:#000;
display:none;
}

.jp-no-solution a {
color:#000;
}

.jp-no-solution span {
font-size:1em;
display:block;
text-align:center;
font-weight:bold;
}
/* @end */

/* @animations */
@-webkit-keyframes small-bounce {
0% {-webkit-transform:translateY(0px)}
25%{-webkit-transform:translateY(3px)}
50%{-webkit-transform:translateY(0px)}
75%{-webkit-transform:translateY(-1px)}
100%{-webkit-transform:translateY(0px)}
}
@-moz-keyframes small-bounce {
0%{-moz-transform:translateY(0px)}
25%{-moz-transform:translateY(3px)}
50%{-moz-transform:translateY(0px)}
75%{-moz-transform:translateY(-1px)}
100%{-moz-transform:translateY(0px)}
}
@keyframes small-bounce {
0%{transform:translateY(0px)}
25%{transform:translateY(3px)}
50%{transform:translateY(0px)}
75%{transform:translateY(-1px)}
100%{transform:translateY(0px)}
}
@-webkit-keyframes small-bounce-right {
0%{-webkit-transform:translateX(0px)}
25%{-webkit-transform:translateX(3px)}
50%{-webkit-transform:translateX(0px)}
75%{-webkit-transform:translateX(-1px)}
100%{-webkit-transform:translateX(0px)}
}
@-moz-keyframes small-bounce-right {
0%{-moz-transform:translateX(0px)}
25%{-moz-transform:translateX(3px)}
50%{-moz-transform:translateX(0px)}
75%{-moz-transform:translateX(-1px)}
100%{-moz-transform:translateX(0px)}
}
@keyframes small-bounce-right {
0%{transform:translateX(0px)}
25%{transform:translateX(3px)}
50%{transform:translateX(0px)}
75%{transform:translateX(-1px)}
100%{transform:translateX(0px)}
}
.animation-small-bounce {
-webkit-animation:small-bounce 850ms linear infinite;
-moz-animation:small-bounce 850ms linear infinite;
animation:small-bounce 850ms linear infinite
}
.animation-small-bounce-right {
-webkit-animation:small-bounce-right 850ms linear infinite;
-moz-animation:small-bounce-right 850ms linear infinite;
animation:small-bounce-right 850ms linear infinite
}
/* @end */


@media only screen and (max-device-width: 600px), only screen and (device-width: 600px) and (device-height: 600px), only screen and (width: 600px) and (orientation: landscape), only screen and (device-width: 600px), only screen and (max-width: 600px) {
	.sidebar-container.widget-filter {
    display: none;
}
	#main-content {
		padding-left: 20px;
	}
	.body-content, .page-container, .page-settings-container {
	border: 0;
	}
	.header {
	max-width: 1080px;
	padding: 0 20px;
	}
	.menu-button {
	display: none;
	}
	.row-body, .row-page {
	padding: 0;
	}
	.row-body .two, .row-body .six {
	width: 100%;
	}
	.row-body .ten {
	width: 100%;
	}
	.row-body .twenty {
	width: 100%;
	}
	.row .three, .welcome-box {
		width: 100% !important;
	}
	.row-body .threeads {
		width: 100%;
	}
	.row-body .threeads img {
		width: auto;
		height: auto;
	}
	.row-body .nine {
		width: 100%;
	}
	.row-body .three {
		width: 100%;
	}
	.row-body .three.columns {
		margin-top: 20px;
	}
	.row .four {
		width: 100%;
	}
	.row .eight {
		width: 100%;
	}
	.row .six { 
		width: 100%; 
	}
	.row .seven {
		width: 100%;
	}
	.row-page .three {
	width: 100%;
	}
	.row-page .nine {
	width: 100%;
	}
	.body {
	border: 0;
	}
	.search-container, .search-list-container, .notification-container {
	padding: 0;
	}
	.footer-links, .footer-languages {
	padding: 0;
	}
	.footer-container {
	line-height: 25px;
	}
	.inputs-container {
	padding: 30px 10px 30px 20px;
	}
	.report-checkbox  {
	padding-left: 0;
	}
	.row-body .five {
	width: 100%;
	}
	.row-one {
	float: left;
	width: 100%;
	padding: 3px 0;
	}
	.row-two {
	float: left;
	width: 100%;
	padding: 3px 0;
	}
	.row-three {
	float: left;
	width: 100%;
	padding: 3px 0;
	text-align: left;
	}
	.row-four {
	float: left;
	width: 100%;
	padding: 3px 0;
	text-align: left;
	}
	.cover-container {
	height: auto;
	margin: 0 20px 20px;
	}
	.cover-text-container {
	font-size: 18px;
	margin: 10px 0 5px 80px;
	}
	.cover-text-container img {
	width: 14px;
	height: 14px;
	margin: 0 0 -2px 4px;
	}
	.cover-description-buttons {
	float: right;
	overflow: auto;
	display: block;
	/* width: 65px; */
	}
	#values {
	width: 230px;
	}
	.page-input-title {
	width: 100%;
	text-align: left;
	padding: 3px 0;
	}
	.page-input-sub {
	padding: 3px 0;
	width: 100%;
	min-width: 100%;
	}
	.page-input-content {
	width: 90%;
	}
	.row-page .stats-container, .row-body .stats-container {
	width: 100%;
	}
	.admin-rows { border-bottom: 1px solid #ccc; }
	.row-page .table-id, .row-page .table-user, .row-page .table-mail, .row-page .table-edit, .row-page .table-delete { width: 100%; }
	.row-page .table-report-id, .row-page .table-report-type, .row-page .table-user, .row-page .table-category-name, .row-page .table-report-message, .row-page .table-report-safe { width: 100%; }
	.subslist {
	right: 20px;
	}
	.subslist_message {
	right: 53px;
	}
	.sidebar-container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.message-container {
		padding-left: 20px;
	}
	.notification-container, .search-container {
	padding: 0 10px;
	}
	.notification-content {
	max-width: none;
	}
	.search-input input {
	width: 90px;
	}
	.menu-dd-container {
	right: 0;
	width: 100%;
	padding: 0 20px;
	}
	.menu-dd-content {
	min-width: auto;
	width: 100%;
	}
	.menu-dd-row {
	padding: 15px;
	text-align: left;
	}
	.search-results {
	}
	.search-content .notification-inner, .search-content .track-inner, .hashtag-inner {
	padding: 10px 15px;
	}
	.chat-container  {
	height: 300px;
	}
	.sidebar-chat-list {
	max-height: 350px;
	}
	.cover-description-content {
	margin-left: 20px;
	}
	.cover-avatar {
	width: 86px;
	}
	.cover-avatar a {
	float: left;
	overflow: hidden;
	height: 86px;
	}
	.welcome-message, .dash-stats {
	width: 100%;
	}
	.welcome-track {
	width: 20%;
	}
	.song-top {
	height: auto;
	min-height: auto;
	padding: 0 0 0 106px;
	}
	.song-art img {
	width: 86px;
	}
	.player-controls, .track-actions-container {
	padding: 0 0 10px 106px;
	}
    .track-actions-content {
    padding-top: 11px;
    }
	.song-tag, .song-timeago, .embed-powered-by, .embed-container .track-actions-content {
	display: none;
	}
	.action-text {
	display: none;
	}
	.liked-button, .like-button, .playlist-button, .share-button, .buy-button, .delete-button, .public-button, .private-button, .download-button, .loading-button {
	float: left;
	}
	.liked-button, .like-button, .playlist-button, .share-button {
	padding-right: 1px;
	margin-right: 5px;
	}
	.track-stats, .playlist-stats-text {
	display: none;
	}
	.playlist-stats {
	padding: 10px 0;
	}
	.song-container {
	padding: 20px 15px 0 15px;
	}
    .song-container, .page-login-container {
    border-left: 0;
    border-right: 0;
    }
	.song-title {
	font-size: 13px;
	}
	.message-reply-container .delete_btn, .message-reply-container .report_btn {
	display: block;
	}
	div.jp-audio div.jp-type-single div.jp-interface {
	height:21px;
	}
	.embed-container div.jp-audio div.jp-type-single div.jp-interface {
	height:21px;
	padding-bottom: 20px;
	}
	.admin-stats-image, .license-box-desc {
	display: none;
	}
	.stats-column-title {
	padding-top: 10px;
	}
	.upload-btn-text {
	font-size: 12px;
	}
	.user-stats-row {
	padding: 10px 0 0 0;
	}
	.license-box-container {
	width: 100%;
	padding-right: 0;
	}
	#upload-success {
	max-width: 100%;
	}
	.welcome-title {
	font-size: 42px;
	}
	.welcome-desc {
	font-size: 20px;
	}
	.welcome-button a {
	font-size: 12px;
	}
	.welcome-content, .welcome-pro {
	padding: 50px 20px;
	}
    .welcome-full {
    padding: 20px 0;
    }
	.welcome-full-section {
	padding-left: 10px;
	font-size: 18px;
	}
	.welcome-box-section, .welcome-box-title {
	font-size: 18px;
	}
	.welcome-box-title {
	font-size: 16px;
	}
	.footer {
	padding: 10px 20px 55px 20px;
	}
	.menu-dd-mobile {
	display: block;
	}
	.go-pro-container {
	text-align: left;
	padding-top: 20px;
	}
	.go-pro-desc {
	max-width: 100%;
	margin: 0;
	}
	.current-plan, .welcome-centered-text {
	text-align: left;
	}
    #topbar-artwork {
    float: right;
    }
    #topbar-track-info {
    padding-right: 0;
    }
    #current-time, .player-container-middle, .player-container-right, .topbar-song-name, .topbar-author-name {
    display: none !important;
    }
    .player-nine a {
    margin: 0 10px;
    }
    a.jp-play, a.jp-pause {
    margin-right: 16px;
    }
    #load-more {
    border-right: 0;
    }
    .social-icon {
    	background-size: 32px;
    }
    .list-time {
    	display: none;
    }
    .message-reply-author {
    	display: block;
    	float: none;
    }

    #welcome-creators, #welcome-listeners {
        width: 100%;
    }
    #welcome-creators {
        margin-bottom: 50px;
    }
}
.col-3 {width:33.33%;float:left;}
.sp_col-3{float:left;display:inline-block;}
